[2014-12-09 11:22] abremges opened #2 "Assembly use case: Multiple libraries"
What about assemblers relying on e.g. multiple sequencing libraries?
Examples: Allpaths-LG, usually requiring a paired-end and mate-pair library.
Or any hybrid assembly mode of e.g. Illumina and PacBio data (SPAdes, CA, ...)

[2014-12-10 11:49] #2 closed, assigned to nobody

[2014-12-10 12:10] abremges opened #4 "Support graph-based assembly output formats."
While the current state-of-the-art to report contigs is FASTA format, the community slowly seems to move towards graph-based assembly representations.
Only established thing so far seems to be FASTG, which is e.g. produced by SPAdes already: http://fastg.sourceforge.net/
Heng Li proposed GFA as an alternative, implemented by e.g. ABySS: http://lh3.github.io/2014/07/19/a-proposal-of-the-grapical-fr

[2014-12-10 13:49] pbelmann opened #5 "At least one variable"
For the Short-read genome assembler container there should be at least one of the four variables
-CONT_FASTQ_FILE
-CONT_FASTQ_FILE_LISTING
-CONT_PAIRED_FASTQ_FILE
-CONT_PAIRED_FASTQ_FILE_LISTING
be present.

[2014-12-10 14:09] pbelmann opened #6 "Quast"
Quast has a whole directory structure full with metrics. So I think the CONT_OUTPUT_FILE variable of the Reference-based genome assembly benchmarking container will not work. Maybe it should be an output directory.

[2014-12-17 15:29] pbelmann opened #8 "Database Section"
What do you think of a database section?
The variables defined in this section can be referenced from different container specifictation types.
It has the advantage that we would not repeat ourselves by specifying database variables.

[2014-12-18 22:23] michaelbarton opened #9 "Proposal: Standardised bioinformatics objects and morphisms"

[2015-01-11 17:47] #6 closed, assigned to nobody

[2015-01-11 19:22] #5 closed, assigned to nobody

[2015-01-14 16:07] fungs opened #10 "Format of FASTQ"
Which format should FASTQ files be in. I know there are at least some ways to allow for line breaks or not (the latter is more restricted and easier to parse). There should be a reference to every file format definition. If there is no stable definition on the web, we might have to provide it...

Should CONT_PAIRED_FASTQ_FILE/CONT_PAIRED_FASTQ_FILE/CONT_PAIRED_FASTQ_FILE_LISTING contain the path t

[2015-01-14 22:45] #8 closed, assigned to nobody

[2015-01-15 15:11] fungs opened #11 "Absolute paths"
The current draft states for file listings such as CONT_FASTQ_FILE_LISTING that the paths must be absolute. However, the caller from outside the container would have less work if the paths could be relative to the location of the listing file. He/she could simple drop the files next to the list and make the location available to the container. This would still allow for absolute paths (beginning w

[2015-01-15 15:29] fungs opened #12 "Multiple inputs -> multiple outputs"
I believe that for a binning or profiling container, there should be as many output files as input samples unless the output format allows to specify multiple samples in one file.

[2015-01-16 09:04] pbelmann opened #13 "Binning, Profiling Formats"
Since we want to develop this rfc independent of any other project (CAMI/nucleotid.es) we should move the [binning](https://github.com/CAMI-challenge/contest_information/blob/master/file_formats/CAMI_Bv1_specification.txt) and [profiling](https://github.com/CAMI-challenge/contest_information/blob/master/file_formats/CAMI_TPv1_specification.txt) format to this repo and reference them from here. Wha

[2015-01-19 10:10] fungs opened #14 "The specification should require all input files should be gzipped."
Is it reasonable to require gzipped FASTQ but uncompressed FASTA as input?

[2015-01-20 17:17] #4 closed, assigned to nobody

[2015-01-20 18:43] michaelbarton opened #15 "Allow other, more efficient, compression formats for input data."
Gzip is an inefficent compression algorithm where other algorithms such LZ4 can
provide better compression with a small time trade-off, while LZMA provides
much larger compression ratios with a greater time trade off. The specification
should in future consider the data being provided independent of the
compression format as discussed in #10.

[2015-01-20 21:39] michaelbarton opened #16 "Register a domain and create a website for bioboxes"
Should we consider registering a domain for sibci if are hoping for wider
adoption of this RFC by the community? The .org domain for sibci is available
and is inexpensive. We could create a website that could be easier to browse
than the RFC markdown document. This might be particularly useful as the
document becomes larger and larger with the likely inclusion of more container
specifications.

[2015-01-20 21:51] michaelbarton opened #17 "A container should determine what action to take based on available environment variables"
A binning container may be provided contigs in FASTA format or sequencing reads
in FASTQ format. The specification should state the container has to determine
which data to use and what actions to take based on what data is available. For
instance if FASTA contigs are available via the environment variable
CONT_CONTIGS_FILE_LISTING then the container should identify that the variable
is present an

[2015-01-20 21:53] michaelbarton opened #18 "Remove CONT_FASTQ_FILE and related single file variables"
The specification allows containers to be provided with a FASTQ file through
the CONT_FASTQ_FILE variable, or multiple FASTQ files through listing them in
CONT_FASTQ_FILE_LISTING. All instances of CONT_FASTQ_FILE should be removed and
instead all input files should be provided through CONT_FASTQ_FILE_LISTING.
This simplifies the specification and makes it easier to read and understand.

[2015-01-20 23:42] michaelbarton opened #19 "Remove Internet Society copyright"
At present we are going to submit this as an Internet Society RFC and so we
should remove the copyright.

[2015-01-20 23:47] #19 closed, assigned to nobody

[2015-01-20 23:51] michaelbarton opened #20 "The "status of the memo" should reflect the aim of this document."
Currently the status of the memo refers to Internet Standards which is no
longer relevent.

[2015-01-21 21:17] pbelmann opened #23 "Each container should have its own version number."
Instead of one version for all containers I suggest to add a version number to every container type.
Because if we change one spec of one container it has nothing to do with the spec of the remaining containers. What do you think?

[2015-01-23 16:37] pbelmann opened #27 "Binning, Profiling"
Write out the binning and profiling header tags specification.

[2015-01-23 16:40] #13 closed, assigned to nobody

[2015-01-23 16:42] #14 closed, assigned to michaelbarton

[2015-01-23 16:42] #18 closed, assigned to michaelbarton

[2015-01-23 16:45] #20 closed, assigned to michaelbarton

[2015-01-23 16:50] michaelbarton opened #29 "Create public github repository"
This repository should become public so that other uses can provide feedback
and open issues.

[2015-01-23 16:53] #10 closed, assigned to michaelbarton

[2015-01-23 17:02] #17 closed, assigned to michaelbarton

[2015-01-23 18:17] #12 closed, assigned to nobody

[2015-01-23 18:45] #27 closed, assigned to nobody

[2015-01-23 19:41] #23 closed, assigned to nobody

[2015-01-24 10:50] pbelmann commented on #11
I think he provided this #31 branch but he accidentally closed it.

[2015-01-26 17:20] michaelbarton opened #35 "Proposal for bioboxes version v0.9: interface validators."
### Motivation

I believe a good standard requires validators so that implementors may check
their version is compliant. Using the syntax proposed in issue #9, given an
image implementing the following hypothetical interface:

    f: X → Y

Then a validating image would provide this interface:

    f: (X → Y) → Bool

The first argument here is an image with the interface (X → Y) and the output
is

[2015-01-26 17:21] #29 closed

[2015-01-26 17:21] michaelbarton commented on #29
The spec now resides at https://github.com/SIBCI

[2015-01-26 17:22] michaelbarton commented on #11
Implemented in #31

[2015-01-26 17:22] #11 closed

[2015-01-26 17:24] michaelbarton commented on #16
I will add this to milestone v0.9.

[2015-01-26 19:31] michaelbarton commented on #35
I think each specification should have the name of the validating image as part
of the spec so that it can be quickly identified and allow third parties to
begin using it. The image and the spec should ideally have the same version
number because an update to the spec necessitates a change to the image.

[2015-01-27 16:16] pbelmann commented on #35
I will give it a try in the next days.

[2015-01-30 19:03] michaelbarton opened #39 "This should be a non-profit organisation"
I believe this organisation would benefit from being incorporated as a
non-profit entity. This would allow us to accept donations and use these funds
where appropriate such as sending members to conferences, running a conference,
or giving members grants to perform work that would benefit the project. There
may also be 'soft' benefits such a lending legitimacy to the project through
indication tha

[2015-01-30 19:11] michaelbarton commented on #39
@avilella This is in response to our conversation.

[2015-01-30 19:25] michaelbarton opened #40 "Use a different name other than SIBCI"
The name SIBCI was chosen quickly by myself when writing the initial draft of
the spec. This name however appears to be a bad choice as SIBCI is already used
by [the Bolivian revolutionary government][sibci] and already has many
mentions on twitter. I therefore propose we quickly adopt a new name with the
following guidelines based on [a blog post by Keith Bradnam][blog]:

  * The twitter handle a

[2015-01-30 19:47] chapmanb commented on #39
Michael;
Would you have any interest in joining the Open Bioinformatics Foundation community directly? This is definiately a project of interest to many members of OBF, myself included, and you could benefit from not having to setup the non-profit infrastructure.

We worked a year or so ago on having a policy to add additional affiliated projects but it lost steam a bit without anyone leading it:

[2015-01-30 19:59] michaelbarton commented on #40
A few ideas from browsing terms related to shipping:

  * BioAssets
  * BioFreight
  * BioInterModal

Other ideas:

  * unitenere    - Latin: units of holding
  * containelles - composition of containers and organelles
  * endotainers  - endo + containers
  * Golgi Boxes  - Golgi apparatues + boxes

[2015-01-30 20:01] avilella commented on #40
- Ace of Base: a place to "ace" your nucleotide "bases"

[2015-01-30 20:05] michaelbarton commented on #39
Thanks for your comment Brad. I am unfamiliar with creating non-profit
organisation as I have never proceeded down this path before. I think it could
be useful to join an existing organisation as it would preclude us having to
manage legal aspects. Could you tell us a bit more about how the OBF works in
developing a spec like this? Will we have to follow the OBFs infrastructure for
managing an org

[2015-01-30 20:09] michaelbarton commented on #40
I also have the domain http:/conti.gs. We could use this and follow a similar
path to http://nucleotid.es where the name is also the URL. This has proved
quite fruitful on twitter as "nucleotid.es" becomes a clickable hyperlink in
the tweets.

[2015-01-31 00:50] kbradnam commented on #40
How about something simpler still like BioBox or BioBoxes? Both have been used by others but the latter seems to have twitter account available and there's not too much usage of it which would overlap with your intended use.

If you were prepared to hyphenate it, you could probably have more chances of making it unique.

[2015-01-31 01:07] michaelbarton commented on #40
I like bioboxes, the .org domain is available too.

[2015-01-31 09:30] pbelmann commented on #40
I like BioBoxes. It meets all the criteria.

[2015-01-31 11:58] peterjc commented on #39
To be clearer, Hilmar (@hlapp) and myself are currently president and secretary of the OBF (http://www.open-bio.org - @OBF on GitHub), and only two of the current board of directors. But thanks Brad (@chapmanb), yes, it might make sense for SIBCI (name change pending, #40) to be part of the OBF. However, note that the OBF currently does not keep specific sub-funds earmarked for each member project

[2015-01-31 21:39] kbradnam commented on #40
There is some previous overlap within the field of bioinformatics with APBioBox:

http://www.apbionet.org/grid/apbiobox/lsvgcApr04/index.shtml

This is from over a decade ago, and is not likely to cause confusion I think, especially if you went with the plural form (which makes more sense for you anyway).

[2015-02-02 16:46] michaelbarton commented on #40
@kbradnam Thanks for your comments they are much appreciated and I think BioBoxes is an excellent and simple name.

[2015-02-02 16:47] michaelbarton commented on #40
Since we have a simple consensus, I will change the name to BioBoxes.

[2015-02-03 17:04] michaelbarton commented on #40
I have changed the github organisation name to 'bioboxes'. I also think that we should use all lower case to avoid any confusion about internal capitalisation, e.g. BioBoxes vs. Bioboxes.

[2015-02-03 17:04] michaelbarton commented on #40
I have registered the twitter handle bioboxes

[2015-02-03 17:04] michaelbarton commented on #40
I have registered the domain bioboxes.org

[2015-02-03 17:06] michaelbarton commented on #16
The domain bioboxes.org is registered.

[2015-02-03 17:06] avilella commented on #40
And biobox.es? 😀
On 3 Feb 2015 17:04, "Michael Barton" <notifications@github.com> wrote:

[2015-02-03 17:13] michaelbarton commented on #40
According to gandi.net this domain is [already registered](https://www.gandi.net/whois/details?search=biobox.es)

[2015-02-03 17:21] michaelbarton commented on #40
Resolved by #41

[2015-02-03 17:21] #40 closed

[2015-02-03 23:10] kbradnam commented on #40
Glad you could register the domain name and get the twitter account name.

I have one other minor comment…your current logo doesn't really feature anything biological. Also, given your new name, it would make more sense to me to have a log which features at least 2 boxes of some kind. I attach a mock up of the sort of thing I would imagine (DNA logo created by Darrin Higgins for the Noun Project)

[2015-02-03 23:19] kbradnam commented on #40
And one more iteration of the design to change the font and kerning, and make everything a bit 'boxier'
![screen shot 2015-02-03 at 3 17 52 pm](https://cloud.githubusercontent.com/assets/2367600/6031895/f6ec6b3a-abb7-11e4-93fb-04d7883f0ea8.png)

[2015-02-05 01:08] michaelbarton commented on #40
Thanks for your suggestions @kbradnam, your input is very much appreciated. I agree that the current logo does not reflect the name bioboxes or it's relationship to biology. I suggest we continue this discussion on logo repository. I have opened the issue - bioboxes/logo#2. I have made further iterations in response to your suggestions.

[2015-02-09 10:55] chapmanb commented on #39
Michael;
The goal of OBF is to connect and support researchers working in open source bioinformatics. Beyond that, there isn't a process or formalized requirements for getting work done. You'd basically be able to work on the science/specification part however you see fit. We only want to bring people together to make it easier to build communities.

Peter is much more in-touch with the money/logi

[2015-02-09 11:02] avilella commented on #39
Hi Brad,

Thanks for the details. Quick question for you/Peter:

If a company wants to sponsor bioboxes, so that, for example, @mbarton can
attend a conference: can the company send the £500 directly to the bioboxes
account to pay for these expenses?

This is, if bioboxes is part of OBF, can companies do this kind of "spot
sponsoring" easily without much paperwork?

Cheers,

A.

On Mon, Feb 9, 201

[2015-02-09 11:24] peterjc commented on #39
The OBF does not keep specific sub-funds earmarked for each member project, but we do make this kind of sponsorship arrangement for our annual meeting BOSC. In some cases the sponsor gives us money (which can count as a donation which is often advantageous for US taxes), and we reimburse the costs, while in a few cases the sponsor has directly paid (eg catering). We have also provided travel suppo

[2015-02-09 11:45] avilella commented on #39
Cool, thanks. What if the company wants to sponsor something specific or
sponsor someone for a specific conference, not just generally give
conference money for BOSC?
On 9 Feb 2015 11:24, "Peter Cock" <notifications@github.com> wrote:

[2015-02-09 12:16] peterjc commented on #39
To date most of our BOSC associated sponsorship has been earmarked for a particular thing (which we would mention in our acknowledgement slides, emails, etc). For example last year Google paid for video recording, Eagle paid for student prizes, while Curoverse and Harbinger Partners specifically supported our CodeFest. See http://www.open-bio.org/wiki/BOSC_2014 and http://www.open-bio.org/wiki/Cod

[2015-02-09 12:20] avilella commented on #39
Can it be for a specific purpose and a specific person within the
organization?

For example: £500 for conference attendance for Michael Barton from
SponsorXYZ

On Mon, Feb 9, 2015 at 12:16 PM, Peter Cock <notifications@github.com>
wrote:

[2015-02-09 12:27] peterjc commented on #39
I don't see any reason not too, @hlapp would that need @OBF board discussion and approval?

P.S. I like the new name *bioboxes*, it would look right at home amongst the other OBF Bio* projects ;)

[2015-02-09 12:35] avilella commented on #39
That would be great! We will await for Hilmar's confirmation :-)

On Mon, Feb 9, 2015 at 12:27 PM, Peter Cock <notifications@github.com>
wrote:

[2015-02-09 13:12] hlapp commented on #39
The only constraint is that the earmarked purpose has to be one that is compatible under 501(c)3 rules. So not every sponsorship can be paid out for any purpose. But travel support if the travel is evidently in furthering the project's goals and mission should be fine. At the end of the day, the ruling is in the hands of the fiscal sponsor, i.e., SPI in our case, because they are the ones who are

[2015-02-09 14:36] fungs commented on #10
I'm adding this for completeness which covers the definition of the FASTQ format:
doi://10.1093/nar/gkp1137

[2015-02-09 17:42] michaelbarton commented on #10
That paper is included in the description of the FASTQ format - https://github.com/bioboxes/rfc/blob/master/data-format/sequence.mkd#description

[2015-02-10 01:15] michaelbarton opened #44 "Bioboxes should have a core team responsible for development"
I think having a defined 'core team' will help further development of the RFC.
The definitions of this will be very 'loose' and since we all have other paying
jobs we'll all be doing this voluntarily. I have created PR #43 as a starting
point for a discussion about what a core team member should do. Please take a
look and make suggestions if you think this could be improved.

[2015-02-10 01:23] michaelbarton opened #45 "Bioboxes should publish a call-for-contributions commentary."
A peer-reviewed article creates a document that others can reference and cite
when creating a biobox. A formal review process will also allow others to make
suggestions and improvements to the RFC. I envision this article will be
submitted once we have agreed on a v1.0.

[2015-02-10 01:40] michaelbarton opened #46 "Bioboxes should provide editor/reviewer instructions."
I believe if bioboxes is to become a standard for publishers similar to
MIAPE/MIAME then there should be instructions for reviewers on how to determine
if a submitted container follows the biobox standard. I think a good standard
provides a validation tool, otherwise trying to determine if a container is
compliant will be extremely difficult. Detailed instructions and tutorials on
how to test a co

[2015-02-10 01:46] michaelbarton opened #47 "Major publishing groups should agree to bioboxes standard."
I think a large portion of the success of the MIAME standard was publishers
requiring submissions containing microarray data to include the required
information. Therefore I believe we should discuss this standard with
publishers as we move towards v1.0 and ask them to encourage editors/reviews to
follow it when reviewing software.

[2015-02-10 01:49] michaelbarton commented on #47
I think @ScottBGI at Gigascience can provide with useful suggestions and
feedback on this process.

[2015-02-10 01:55] ScottBGI commented on #47
Yes, let me know what I can do to help. We are already getting these types of submissions at GigaScience, so can use these test cases to work on best practices and fine tune and any standards. As we use open review as standard this will be transparent and can be referred back to in any developing documentation as well.

[2015-02-10 02:12] michaelbarton commented on #39
Thank you all for taking the time to comment on this issue, it's very much
appreciated and helps us understand the process. I am certainly very unfamiliar
with how to evaluate this decision as I have never had to tread this path
previously.

If the circumstances for bioboxes changed in the future would be it relatively
easy to diverge and possibly create a separate organisation or join another? If

[2015-02-10 02:30] michaelbarton opened #48 "Bioboxes v1.0 should be an adopted community standard."
* Create core team #44
  * Website with documentation and tutorials #16
  * Set of editor/reviewer instructions #35, #46
  * Published, peer-reviewed article #45
  * Major publishing groups agree to biobox standard #47

Software has proliferated in bioinformatics and unfortunately so have
the problems with using it: missing or unobtainable code, difficult to
install dependencies, secret usage reci

[2015-02-10 02:37] michaelbarton commented on #47
Thanks for your response @ScottBGI. Could you share what sort of information
you would need to implement a community standard from the publisher's point of
view? This will help us shape the RFC as we start towards v1.0.

[2015-02-10 03:00] ScottBGI commented on #47
Even though a depressing number of people will miss or ignore any guidelines, as you say making MIAME style minimal information checklists could help. For reviewers and editors to actually use it the more concise the better, defining essential/recommended information. Publishers would probably want flexibility on thresholds and licensing, although bioboxes/BOSC/OSI/etc. can express their own recom

[2015-02-10 04:04] hlapp commented on #39
Not only is the decision reversible, it is also not exclusive. I.e., there is nothing that prevents you from collecting funds outside of OBF or the fiscal sponsor, and you can also choose to have other fiscal sponsors in addition. The only thing to keep in mind is that assets held by the fiscal sponsor can only be transferred to another 501(c)3 approved organization.

[2015-02-10 11:28] avilella commented on #48
A few more ideas below:

Software has proliferated in bioinformatics and unfortunately so have
the problems with using it: missing or unobtainable code, difficult to
install dependencies, secret usage recipes that are irreproducible,
all with terrible user experiences. We believe a community standard
for containers has the opportunity to solve these problems and thereby
increase the standard of sc

[2015-02-11 01:04] michaelbarton commented on #48
Thanks, I have updated my original comment with your text.

[2015-02-11 01:14] michaelbarton opened #50 "Biweekly review meeting - Thu Feb 12 16:30 GMT"
Would this be a good time for a 30 minute meeting to review the current github
issues and plan for the next two weeks?

[2015-02-11 01:21] michaelbarton commented on #50
I think it would be useful to have a tentative agenda before we begin the
meeting. Here are my suggestions:

  * Finalise members of the core team
  * Decision about non-profit organisation
  * Discuss which issues are v0.9 and v1.0
  * Current next immediate steps

[2015-02-11 11:24] pbelmann commented on #50
Another point is versioning. (In my opinion we should not delete older major versions of a document.)

[2015-02-11 20:45] pbelmann opened #51 "Binning Evaluation Container"
As discussed with @algbioi, now the first draft for binning evaluation:

1. [binning input file](https://github.com/bioboxes/rfc/blob/master/data-format/binning.mkd#the-binning-output-format)
2. [fasta file](https://github.com/bioboxes/rfc/blob/master/data-format/sequence.mkd#fasta)
3. true taxonomic labels
4. scaffold contig mapping
5. NCBI Taxonomy
6. output directory

I will attach a PR with th

[2015-02-12 18:40] michaelbarton commented on #44
After disucssion on biweekly conference call #50, we agree the core development
team is as follows:

* Peter Belmann (@pbelmann)
* Albert Vilella (@avilella)
* Johannes Dröge (@fungs)
* Michael Barton (@michaelbarton)

[2015-02-12 18:58] michaelbarton opened #52 "Present bioboxes presented as a standard at BOSC 2015"
The [Bioinformatics Open Source Conference][bosc] 2015 will be a good
opportunity to spread awareness of bioboxes as a standard. To attend we will
have to submit and abstract by April 2015. @peterjc is an organising co-chair
and may be able to advise on how bioboxes could contribute. Perhaps a workshop
on how to use containers in bioinformatics or something similar?

[bosc]: http://www.open-bio.or

[2015-02-12 19:54] michaelbarton commented on #44
Fifth member to be determined. Assigned to @michaelbarton.

[2015-02-12 19:57] michaelbarton commented on #39
After our conference call #50, @vilella will take the lead on guiding this
process and making decisions.

[2015-02-12 19:59] michaelbarton opened #53 "Biweekly review meeting - Thu Feb 26 16:30 GMT"
Creating this issue for our next 30 minute conference call. Please add agenda
items as they arise.

[2015-02-12 19:59] michaelbarton commented on #50
### Attending

Skype conference call with:
  * Peter Belmann (@pbelmann)
  * Albert Vilella (@avilella)
  * Michael Barton (@michaelbarton)

### Core team

We discussed the idea of having a core team (Issue #44). @avilella tentatively
agreed as long as he has time available. @pbelmann agreed and thought @fungs
would agree too. We agreed to have a fifth team member yet to be decided. Core
team is t

[2015-02-12 19:59] #50 closed

[2015-02-12 20:04] michaelbarton commented on #53
Twitter password: I should share the twitter password for the bioboxes account
with the core team so that you all post tweets when necessary.

[2015-02-13 03:05] peterjc commented on #52
Presenting BioBoxes as a talk (and poster?) would fit fine at BOSC. Assuming similar sections/themes to last year at least under *Bioinformatics Open Source Project Updates*, perhaps under *Open Science and Reproducible Research*. So please do submit an abstract.

I think it would also make sense to come to the CodeFest for more hands on interaction with interested parties?

[2015-02-13 04:08] hlapp commented on #52
:+1:

[2015-02-13 08:03] abremges commented on #50
Is the next meeting on Tue Feb 26, or Sat Feb 28? (I assume the former.)

[2015-02-13 11:07] pbelmann commented on #51
Here the PR: #54

[2015-02-13 13:46] pbelmann opened #55 "Binning and Profiling formats"
I think we should somehow mention cami in the binning and profiling format definitions because it was originally designed by the cami team with the aim to standardize the binning/profiling format and make the life of a developer who works with binning or profiling easier.
Thats why I suggest to rename the binning and profiling formats to cami_binning and cami_profiling or something similiar.

What

[2015-02-14 00:17] #51 closed

[2015-02-19 23:07] michaelbarton commented on #53
I've update the title with the correct day, two weeks from the previous
meeting.

[2015-02-19 23:09] michaelbarton commented on #50
I updated the next meeting (#53) with the correct date.

[2015-02-19 23:11] michaelbarton commented on #52
Thanks for the suggest Peter. A session on bioinformatics containers at the
codefest is a good idea.

[2015-02-19 23:49] michaelbarton commented on #35
I have been working on a image to validate the CAMI/nucleotid.es short read
assemblers. I have been experimenting so far with using Docker-in-Docker
(dind). This will provide a docker daemon running inside a container which,
given an image name, can validate the assembler against the specification. The
current repository for this is:

https://github.com/bioboxes/validator-short-read-assember

[2015-02-20 00:34] michaelbarton commented on #35
The dind image now successfully builds on circleci. An example build is here:

https://circleci.com/gh/bioboxes/validator-short-read-assember/12

The ideal end product of this issue is that all bioboxes are checked against
the spec using continuous integration such as with @circleci. This would mean
we could get an immediate answer as to whether a biobox image is valid.

Taking this a step further

[2015-02-20 16:45] pbelmann opened #58 "Format link"
Links to Binning and Profiling formats are broken.

[2015-02-20 16:59] pbelmann opened #60 "Link to Generic bioinformatics container and Database section"
We should link the generic bioninformatics container and the database section from every container.

[2015-02-20 19:29] leipzig commented on #48
One thing I think that Docker in general and Bioboxes in particular can address is accelerating the "edit cycle" of research. Typically you develop an analysis that takes in a certain set of data and parameters and produces a report, and the principal investigator invariably wants to adjust explore the parameter space. So at that point you are beholden to either develop a full-scale web app to ena

[2015-02-23 10:09] pbelmann opened #61 "How can we pass different combinations of parameters to a biobox?"
For a genome assembler we need an option for providing different libraries.
CAMI-challenge/docker-camibase-assembly#3

[2015-02-23 10:11] pbelmann commented on #61
Maybe a variable that contains the path to a list of directories that represent the libraries.

[2015-02-24 03:00] michaelbarton commented on #53
Current renaming of specs - there are some open pull requests which should be
pretty easy to work through and see what needs resolving.

[2015-02-24 03:24] michaelbarton commented on #47
I spoke with @scottbgi, @pli888 and @bobbledavidson from @gigascience and they
provided excellent ideas and feedback on how we could work with publishers. I
will summarise the main points:

  * A short editorial could provide a call-to-arms for the community to help
    provide feedback on how the spec and how the containers could be used in
    bioinformatics. The aim of an editorial would be to

[2015-02-24 03:36] michaelbarton commented on #48
Thank you for you email @leipzig. The idea of having a defined set of
parameters that can be iterated over to provide a better result is a good idea.
I have received a similar question related to @nucleotides, for example could
an assembler container provide a variable where the kmer value can be specified
by the user and so altered and iterated over a range of values.

I have thought about this a

[2015-02-24 09:29] fungs commented on #15
Here is an incomplete list of compression programs with different time-space trade-offs from fast to slow. Maybe this helps when implementing some more general approach:

lz4
lzop
gzip/pigz
bzip2/pbz2
xz/pxz

I would only consider formats which are able to do stream compression.

[2015-02-24 09:32] fungs opened #62 "Logo source"
Hi, I like the logo. Some considerations:

Add logo source (SVG?) to bioboxes GIT repository.
Is the font freely available and should it?
Logo license and usage text.

[2015-02-24 09:44] fungs commented on #9
Before reinventing the wheel we should realize that passing data and arguments is a form of interprocess communication and that there are many solutions around that will help to select the best possible one. From my point of view, we have to find out how to best fit a structured approach using JSON or similar in the container framework and how to define it in a way which leaves it open to other or

[2015-02-24 09:52] fungs commented on #62
Sorry, I didn't see the logo section. I moved the above issue to the correct place.

[2015-02-24 09:52] #62 closed

[2015-02-24 09:53] avilella commented on #9
This probably has some overlap with the efforts of the Global Alliance
project called common workflow language. I found the github URL the other
day:

https://github.com/common-workflow-language/common-workflow-language

Here are some more notes on the project:

        - Common Workflow Language working group

        - The Common Workflow Language (CWL) is an informal,
          multi-vendor wor

[2015-02-24 12:37] pbelmann commented on #9
I think this should be a topic in the next meeting.

[2015-02-26 06:25] michaelbarton commented on #58
PR is merged

[2015-02-26 06:25] #58 closed

[2015-02-26 06:29] michaelbarton commented on #35
I have created a simple validator for the short read assembler, I think this could be used at a template for other validators. I have created a short video outlining how it works - http://youtu.be/Y59uhI0b1CA

[2015-02-26 16:59] avilella commented on #9
CWL mentiones taverna et al:
https://groups.google.com/forum/#!topic/common-workflow-language/eGrNfpjuq2E

[2015-02-26 17:00] avilella commented on #9
a mention to an already working cwltool for docker:

https://groups.google.com/forum/#!topic/common-workflow-language/A0JffijHipY

[2015-02-26 17:08] fungs commented on #16
Maybe start with bioboxes.github.com

[2015-02-26 20:36] michaelbarton opened #63 "Create a base Docker image for validating containers"
Biobox images should be validated to ensure they are correct (#35). A base
image can be created using the [short-read assembler validator image][image] as
an example. This should be straightforward and only needs to the files in
/root/features/ to be removed. The base image should be hosted on the
`bioboxes/validator-base`.

[image]: https://github.com/bioboxes/validator-short-read-assember

[2015-02-26 20:54] michaelbarton opened #64 "Bioboxes website should have a page describing how to contribute"
This should describe how a beginner can get started with the project and start
making contributions. Points to include:

  * How branching works
  * How RFC maintainers work
  * How the issue tags work. See here -
    https://github.com/rust-lang/rust/wiki/Note-development-policy
  * E-Easy tags are a good place to start

[2015-02-26 21:00] michaelbarton opened #65 "Write an first draft abstract for bioboxes for BOSC 2015"
Bioboxes should create a presentation for BOSC 2015. A first step is to read
the guidelines for abstract submission for BOSC 2015 and write then write first
draft. This should be shared with with the members of the core team.

[2015-02-26 21:07] michaelbarton opened #66 "Create version file within RFC project"
This file should list the different versions of each RFCs by pointing to their
versions on github.

[2015-02-26 21:10] michaelbarton commented on #53
### Attending

  * Albert Vilella (@avilella)
  * Andreas Bremges (@abremges)
  * Michael Barton (@michaelbarton)
  * Peter Belmann (@pbelmann)

### Validators

@michaelbarton created an project to demonstrate that a container could be used
to validate bioboxes. A youtube [video illustrates this][video]. @pbelmann
suggested this should be used as a base for other bioboxes validators.
@michaelbarto

[2015-02-26 21:11] michaelbarton commented on #53
@pbelmann and @fungs: you should be able to merge and commit to the RFC now.
The issue was the the core team was not set up with a list of repositories.

[2015-02-26 21:12] michaelbarton commented on #53
I have started tagging issues using the @rust method. I've started with E-Easy
labels. These stands for "Effort - Easy".

[2015-02-26 21:15] michaelbarton opened #67 "Biweekly review meeting - Thu Mar 12 15:30 GMT"
### Agenda from previous meeting

  * Bioboxes validator base image (#63)
  * Create bioboxes website (#16).

Please add other items to the agenda using this ticket.

[2015-02-26 21:16] michaelbarton commented on #53
Next meeting is setup in issue #67.

[2015-02-26 21:16] #53 closed

[2015-02-26 21:19] michaelbarton commented on #61
@pbelmann Could you add more information to this issue? How might this be
implemented?

[2015-02-26 21:23] michaelbarton commented on #60
I agree.

The fix for this will update each container RFC file and include a few lines
mentioning that each container should also follow the spec defined in the
generic bioinformatics container RFC.

[2015-02-26 21:33] michaelbarton commented on #55
Closed in favor of #68

[2015-02-26 21:33] #55 closed

[2015-02-26 21:42] michaelbarton opened #69 "The databases section in the bioboxes RFC should be clarified."
This section of the RFC is ambiguous. For example some containers do not need
to use any databases. Also the file `databases_structure.txt` is very large and
is role in the RFC is unclear.

A patch for this may move this section to the relevent RFCs or provide further
text as to how this is used.

[2015-02-26 21:43] michaelbarton commented on #69
@pbelmann could you comment on this issue please?

[2015-02-26 21:55] michaelbarton commented on #16
I will deploy the website site on AWS S3 as static HTML files. I have set up
the domain registrar DNS records for bioboxes.org to point to those provided by
Route 53.

[2015-02-26 22:21] michaelbarton commented on #16
Created a git repository for the website:
https://github.com/bioboxes/bioboxes.org

[2015-02-26 22:33] michaelbarton commented on #16
The website is set up to build on circleci:
https://circleci.com/gh/bioboxes/bioboxes.org

[2015-02-27 01:54] michaelbarton commented on #16
The website is now live (bioboxes/bioboxes.org#1). The website is built using
the middleman rubygem and deployed to S3 upon a successful commit to the master
branch. The domain URL is http://bioboxes.org. Anyone can now make pull
requests to this project and once merged will immediately be visible.

[2015-02-27 01:54] #16 closed

[2015-02-27 11:27] avilella opened #70 "Can bioboxes and biodocker collaborate on combined objectives?"
Hi @michaelbarton  and @fungs , @pbelmann , @ypriverol, @Leprevost ,

This is a message so that we can all say "hi" to each other and see if
we want to work together on certain aspects or even if we want to
merge our current "bioboxes" and "biodocker" projects into one common
effort: "bioboxers"?? "biodoxes" ??

I can say I know @ypriverol from the EBI, and I would be thrilled if we
would get toge

[2015-02-27 11:27] fungs commented on #16
Consider setting an alias in the DNS record for www.bioboxes.org

[2015-02-27 15:01] Leprevost commented on #70
Thanks @avilella :)

I like the 'biodocker' style because kinda follows the pattern we see around, like bioperl, biopython, etc. The only problem I see is that the word 'Docker' is also the name of the company, and it kinda feels wrong to use their name on something apart. Maybe we can create something new.

Also, the biodocker project is something completely independent from my company, Hexabio.

[2015-02-27 15:13] avilella commented on #70
Thanks @Leprevost and welcome :+1:

Thanks for clarifying the situation with hexabio, this all sounds good. By the way, are you on Brazil Sao Paulo time? We do a skype call every two weeks, so it should be about early afternoon time for you:

https://github.com/bioboxes/rfc/issues/67

Regarding the guidelines, I am glad you mentioned them, because it's one of the action items that bioboxes wants t

[2015-02-27 18:10] michaelbarton commented on #70
I've just renamed this issue for clarification.

[2015-02-27 19:18] Leprevost commented on #70
What about bioboxes, it is a nice name, and I see that you already got a domain for it. Is it related to some company or institutional project?

I can also start working on the guidelines and protocols for (creating | reusing) images.

I think that a paper will be great to spread the idea and the use of docker, it hasn't being done so far.  I know that the guys from The Assemblathon are using cont

[2015-02-27 20:40] leipzig opened #71 "Formal acceptance of Docker Compose (the artist previously known as Fig)"
I want to suggest the group address the issue that many Bioboxes themselves will have dependence on other common containers. In many workflows you will want to preserve the segregation of tasks, so that if two applications both require BLAST they can both simply link to the shared BLAST container.

Docker Compose is designed to orchestrate these dependencies so it might play a role in Bioboxes.

[2015-02-27 20:51] avilella commented on #71
I agree. Fig is picking up a lot of momentum, so it's going to be solving
many of the problems we are thinking about in the short and mid term
future.
On 27 Feb 2015 20:40, "Jeremy Leipzig" <notifications@github.com> wrote:

[2015-02-27 21:48] michaelbarton commented on #70
Thanks for your input @Leprevost and @avilella. I will add to this discussion
by stating what I believe our immediate objectives are for bioboxes and then
perhaps @pbelmann and @fungs can give their inputs. We can then go from there.

  * Bioboxes will provide a set of standards so that bioinformatics software in
    containers can be used interchangably. A biobox container in a
    bioinformatics

[2015-02-28 12:51] Leprevost commented on #70
Thanks @michaelbarton,

I think we actually exchange some e-mails some time ago.

It seems that you have a lot going on with bioboxes and you are heading somewhere beyond I have planned for biodocker. The idea of having interchangeable containers is very good. My initial plan was to simply have biotools containers, but you guys have a really more robust plan here, and I liked.

Being as it is, may

[2015-02-28 13:01] avilella commented on #70
It's great to have you on board, @Leprevost :-)

In my opinion, one of the several definitions of "success" for bioboxes
would be to (1) push as many useful bioinformatics apps inside containers
so they will be readily useful to a lot more people. Having defined
morphisms/interfaces according to (2) specifications, then (3) combining
them with docker combine (fig) and (4) chaining them together in

[2015-03-01 21:02] michaelbarton commented on #71
Thank you for the suggestion @leipzig. I have been looking at Docker compose
and fig. I believe this tool is used for creating long running services, such
as starting a web service container and database container at the same time. I
think the workflow manager bioboxes would require is way to specify and start
one container, pass data to it, then pass the resulting output to another
container and

[2015-03-01 21:18] michaelbarton commented on #70
Thanks for your comments. I think we can use all the input from the
bioinformatics community and your experience @Leprevost with docker is useful.
This project is still very new and so we are shaping it as we go along. My aim
so far has been to try and focus on a limited number of goals at a time so that
we can try and make small incremental progress. Any input you have will be
welcome: examples m

[2015-03-01 21:29] michaelbarton opened #72 "The bioboxes.org website should be validated before each deploy"
With multiple people working on a website it may be easy to unintentionally
introduce broken URLs or invalid HTML. As the website is being deployed through
circleci automatic validation can be introduced to prevent this happening. The
rubygem [html-proofer][1] is one simple way to do this. I envision a patch for
this issue will run html-proofer after building but before deploying, and fail
the bui

[2015-03-01 21:40] michaelbarton opened #73 "Biobox specs should be automatically displayed on the site"
Displaying the specs on bioboxes.org may be a better medium to share details
than github. One way to do this would be to pull the latest version of the
bioboxes github master branch into the site as before it's built. The specs are
markdown documents and therefore should automatically be processed by middleman
without any further changes.

A change to the specs would need to trigger a rebuild of t

[2015-03-01 23:40] michaelbarton opened #74 "Website should include a page on how to create a biobox"
We would like people to create containers following the bioboxes standard.
Providing very clear and high quality documentation will help with this. This
issue can be resolved by creating a page on bioboxes.org providing steps on how
to create a container following one of the specifications.

[2015-03-01 23:43] michaelbarton opened #75 "Website should have a page listing how to get started with bioboxes"
We would like people who are new to the project to feel like they can make
contributions and improve the standard. A page on the website providing this
information will be useful as this can be given to potential new contributors.
This issue can resolved when a page for this exists.

[2015-03-01 23:46] michaelbarton commented on #64
I will drop the "E-Easy tags are a good place to start" requirement as I think instead #75 addresses this.

[2015-03-01 23:46] #64 closed

[2015-03-01 23:47] michaelbarton commented on #64
This issue is resolved by bioboxes/bioboxes.org#3

[2015-03-02 00:29] michaelbarton commented on #75
This is now implemented at http://bioboxes.org/getting-started/ through
bioboxes/bioboxes.org#5.

[2015-03-02 00:29] #75 closed

[2015-03-02 01:05] michaelbarton commented on #70
I've updated the website with instructions on how to contribute to bioboxes
(#64, #75).

[2015-03-02 01:19] michaelbarton commented on #72
Website now automatically checked before deploy.

[2015-03-02 01:19] #72 closed

[2015-03-02 04:43] michaelbarton commented on #70
Here are the linked pages
  * http://bioboxes.org/contribute/
  * http://bioboxes.org/getting-started/

[2015-03-02 08:46] fungs commented on #73
Would this work with permalinks to spec versions or should we just mirror the latest version?

[2015-03-02 17:00] michaelbarton commented on #73
If the rfcs are cloned into the source directory before building, then
they'll be converted to HTML and displayed on the site.

On Monday, 2 March 2015, fungs <notifications@github.com> wrote:

[2015-03-03 00:17] michaelbarton opened #77 "RFC Proposal: Short read processor"
I am proposing a new RFC for processor tools. These tools are used for
processing reads such as normalisation, filtering or trimming. I created a
branch containing the [RFC document][doc]. This is a rather simple one input
and output image, however I would like any feedback from the @bioboxes/core-team.

[doc]: https://github.com/bioboxes/rfc/blob/new/container/short-read-processor/container/short

[2015-03-03 14:11] Leprevost opened #78 "Bioboxes account at Docker Hub"
One of the features docker provides is the ability to search and download pre-build images. To make bioboxes images available, we need to create an [account](http://hub.docker.com) (they have organization accounts too).

The Hub has an integrated build system where you point a Github repository as being the source of the image, then the Hub pulls the repository and builds it. Hooks can also be rec

[2015-03-03 14:19] avilella commented on #78
Do you mean an org account on docker or on github?

Very good point about the hooks. Is there a page with examples or
documentation to see how this is done? It would be great to have the
github->docker webhooks, specially to test that changes in the
bioinformatics app don't affect the container.

Regarding the accounts, on docker, I know there is a "nucleotides" one
already there with some contain

[2015-03-03 14:27] Leprevost commented on #78
I mean on docker Hub (it is also called docker registry).

I don't remember to follow any documentation, I learned how to use on my own. The process is pretty straightforward, you only have to create an Automated Build repository (at docker hub), and the website will ask you where the Github repository is and if you wish to make it automatic updates. You can check the hexabio account at docker hub

[2015-03-03 14:31] avilella commented on #78
It would be great if you give it a go: I am thinking it would be either the
URL of an existing tutorial or write a small one in our github, so that
other people less familiar with it (like me) can go through the document :-)

On Tue, Mar 3, 2015 at 2:27 PM, Felipe Leprevost <notifications@github.com>
wrote:

[2015-03-03 14:33] Leprevost commented on #78
I found this at docker hub website, it explains on how to use automatic builds: http://docs.docker.com/docker-hub/builds/

[2015-03-03 15:52] avilella opened #79 "open communication and collaboration between bioboxes and common-workflow-language CWL"
Hi,

I attended the common-language-framework conference call together with Nebojsa Tijanic (NT), Michael Crusoe (MC), Peter Amstutz (PA), Maxim Mikheev (MM), and John Kern (JK).

John Kern, @kern3020 , currently collaborating with bcbio, mentioned that it would be good to catch up so that he can tell us the way they have been using docker to put complex bioinformatics apps inside containers.

Jus

[2015-03-03 18:12] accopeland commented on #77
To adequately test tools of this type I think you'll need to test both the stated function of the tool and the impact on downstream applications e.g. assembly since preprocessing and sequencing bias can interact destructively.

Are you looking for suggestions of specific tools and pipelines to test?

[2015-03-04 14:00] pbelmann commented on #77
Looks good and a first step towards building bioboxes pipelines #9.
@accopeland It is always a good idea to test tools but I think bioboxes should only test whether a container follows the spec/interface otherwise it will be a never ending task. Or we have to find more specific subcategories/interfaces for the short read processor.

[2015-03-04 14:26] pbelmann commented on #70
I think it is a good idea to have more people on board who are familiar with docker.
I agree with @Leprevost that we should define the corresponding interfaces for the biodocker tools and move them to bioboxes. So I think we need first suggestions for interfaces.

[2015-03-04 15:14] avilella commented on #65
Abstract call to open March 5th:

http://www.open-bio.org/wiki/BOSC_Abstract_Submission

[2015-03-04 16:08] pbelmann commented on #61
This issue should solve the following problem:

When you have multiple libraries like:

lib1='short_insert_1.fq short_insert_2.fq short_insert_3.fq'
and
lib2='long_insert.fq'

And an assembler needs for every library information like:
* average insert size
* a flag for if the sequence needs to be reversed
* ...

or other information like:
* how many base pairs of each read should be used
* in whic

[2015-03-04 16:34] avilella commented on #61
This looks very good @pbelmann . These examples help a lot.

I was reading some of the examples from the common-workflow-language people
today, and indeed it seems like they have opted to leave the parameters
outside the definition of the app (or container) and then have a workflow
description "wfdesc" that ties up together:

1. apps
2. input data

Which become "jobs", and then the chaining of app

[2015-03-05 05:22] michaelbarton commented on #79
The issues are open to comments from anyone. I would be interested in hearing
more about this. Perhaps @kern3020, @mr-c, or both might like to attend the
second half of our next meeting (#67) to discuss this with us.

[2015-03-05 05:28] michaelbarton commented on #67
@Leprevost would you be able to attend this meeting? If possible I would like
to assign issues to everyone in the @bioboxes/core-team.

[2015-03-05 05:30] michaelbarton commented on #78
This is a good suggestion. I've created a dockerhub organisation for bioboxes.
If you give me your dockerhub names I will add you to this.

[2015-03-05 05:30] #78 closed

[2015-03-05 05:40] michaelbarton commented on #77
@accopeland I think we could test combinations of tools. This might come after
we have stable RFCs.

Do you think the specification is adequate for short read preprocessors? At the
moment it specifies FASTQ input and FASTQ output. I know that some tools that
only return FASTA, in which case I think if we were to start chaining tools
together in future we will have to change the short read assemble

[2015-03-05 05:42] michaelbarton opened #80 "Website should have a front page with a description"
The bioboxes.org website has no front page at present. Create the page
`source/index.mkd` with content describing the bioxboxes project.

[2015-03-05 05:43] michaelbarton opened #81 "Set up DNS record for www.bioboxes.org"
The address www.bioboxes.org should redirect to bioboxes.org.

[2015-03-05 05:44] michaelbarton commented on #81
I will assign this to me since I have the DNS server settings in AWS Route 53.

[2015-03-05 05:45] michaelbarton commented on #71
Unless there are further comments, I will close this issue.

[2015-03-05 05:45] #71 closed

[2015-03-05 05:56] accopeland commented on #77
It is unfortunate the number of variations that exist. If you would like to
propose an initial list of tools to evaluate I will compile the
input/output options for them.

On Wed, Mar 4, 2015 at 9:40 PM, Michael Barton <notifications@github.com>
wrote:

--

Alex Copeland
Joint Genome Institute, Walnut Creek, CA 94598

[2015-03-05 05:57] michaelbarton commented on #70
I agree. @Leprevost would you like to propose any new interfaces for containers
you have already written for biodocker?

[2015-03-05 05:59] michaelbarton commented on #67
I think we should discuss #61 - managing configuration for containers in
general.

[2015-03-05 06:44] michaelbarton commented on #61
I like this idea because I think we can expect the interfaces will likely
become more complicated and we should consider sensible ways of managing that.
My suggestion would be YAML over JSON because it allows comments while JSON
does not. A user could comments in YAML config file if they need to refer to it
in future.

I think that config files would be easier to validate that environment
variable

[2015-03-05 06:46] michaelbarton opened #82 "Add license file to logo repository"
As mentioned by @fungs there should be a LICENSE.txt file in the logo
repository. I think Creative Commons so that others can use the logo.

[2015-03-05 06:52] michaelbarton commented on #77
Here's a list I started for nucleotides - https://trello.com/b/srcIBVBK/nucleotides-suggestion-box

[2015-03-05 10:30] fungs commented on #67
If it isn't a general problem with anyone in a particular time zone, could we prepone the following biweekly meetings by an hour, otherwise meetings might end like 19:00 CET like last time, which is kind of late.

[2015-03-05 10:31] avilella commented on #67
Find by me - @avilella - GMT

On Thu, Mar 5, 2015 at 10:30 AM, fungs <notifications@github.com> wrote:

[2015-03-05 10:35] avilella commented on #61
This is also I think in line with the ideas at CWL, so we are all pretty
much on the same page.

I saw a yaml file in their examples, but didn't actually try to transform
from one to another with the python `cwltool`.

common-workflow-language/examples/cat1-tool.json

and equivalent (I think):

common-workflow-language/examples/template-tool.yaml

They also have a `wf_tests.yaml` and equivalent `w

[2015-03-05 10:39] avilella commented on #77
@michaelbarton , can you give me writing rights to the trello list, I have a few I would like to add. E.g. seqtk, which could go both in trimming and filtering.

[2015-03-05 11:01] pbelmann commented on #63
@michaelbarton I have created a repository for a base image pbelmann/validator-base. When you give me the rights, so I can transfer the ownership to bioboxes, we can close this issue. You can also create an empty repo so I can push my code.

[2015-03-05 11:12] pbelmann commented on #79
It would be nice if anyone from the common-language-framework team could attend our meeting since like @avilella  stated in #61 that we have similar solutions for similar challenges.

[2015-03-05 11:18] Leprevost commented on #67
Yes I think I will be available. There is a small chance that I will not be on-line because of my moving, but I will do my best to participate.

[2015-03-05 11:24] Leprevost commented on #70
I did not used a pattern or some sort of interface when I did those images, my idea was just to have images for single applications, but this is something we can work on. Is there a definition for a interface container and its objectives? This can be helpful for other in the future as well.

Another thing that can help is a specification for creating a biobox, because we can use different operatio

[2015-03-05 12:19] Leprevost commented on #35
@michaelbarton , very interesting ideas, I didn't knew dind before. What is your idea about getting files inside and outside the containers? Normally I set a shared folder between the container and the host and then both can have access to files, but maybe this can be achieved in a more generic way, like using another container as "gateway".

[2015-03-05 13:36] asczyrba commented on #35
@michaelbarton Docker in Docker might not be optimal solution, as you need to use the --privileged flag when starting the container. That again means that you get absolutely no security  and your isolation is the same isolation you get by running a program with the same user id directly in your host

[2015-03-05 13:37] asczyrba commented on #35
I just came across this article describing "copying data between docker containers":

https://medium.com/@gchudnov/copying-data-between-docker-containers-26890935da3f

[2015-03-05 16:03] mr-c commented on #79
Thank you @michaelbarton for the invitation. I'm just a bioinformatics tool developer, not a workflow platform dev. I'm happy to talk about other aspects of CWL.

[2015-03-05 16:06] mr-c commented on #61
CWL will be encouraging the use of EDAM and other ontologies to provide semantic markup for the program options. http://edamontology.org/

[2015-03-05 16:09] mr-c commented on #67
Where is this meeting held?

[2015-03-05 16:34] avilella commented on #67
So far it's been a skype conf call. @michaelbarton adds people to the call,
so he probably will need your skype id.

On Thu, Mar 5, 2015 at 4:09 PM, Michael R. Crusoe <notifications@github.com>
wrote:

[2015-03-05 16:37] avilella commented on #61
Yes, EDAM was mentioned in one of the previous meetings. I copy+pasted a
relevant entry of the current version on the website:

[code]

On Thu, Mar 5, 2015 at 4:06 PM, Michael R. Crusoe <notifications@github.com>
wrote:

[2015-03-05 16:41] Leprevost commented on #67
my Skype name is leprevostfv

[2015-03-06 00:47] michaelbarton commented on #63
I have created the bioboxes github repository for this. I've also set up the
bioboxes [docker repo][] for the image so this can be used as a base image.
I've set up [circleci][] to test the image to ensure it builds with any further
pull requests.

[docker]: https://registry.hub.docker.com/builds/github/bioboxes/validator-base/
[circleci]: https://circleci.com/gh/bioboxes/validator-base

[2015-03-06 00:47] michaelbarton commented on #63
Thanks for creating this @pbelmann.

[2015-03-06 00:47] #63 closed

[2015-03-06 00:54] michaelbarton commented on #67
That's good for me too, I've moved the time an hour earlier.

[2015-03-06 00:57] michaelbarton commented on #67
I propose the @bioboxes/core-team spend the first 30 minutes of the meeting
going through the issues and assigning them. For the last 30 minutes @mr-c
could the call and talk about about CWL language if he is willing.

@Leprevost you are welcome to join that the latter half of the meeting. If you
would to take some issues to work on, then you should join us for the first 30
minutes too.

[2015-03-06 01:07] michaelbarton commented on #35
@Leprevost for a standard bioboxes the input data should be mounted as a
read-only volume and it's location specified some how. For output data there
should be a writeable volume mounted. We haven't investigated gateway
containers - docker calls this the [ambassador pattern][amb].

[amb]: https://docs.docker.com/articles/ambassador_pattern_linking/

Validation should not need to mount any data. My

[2015-03-06 01:14] michaelbarton commented on #35
@asczyrba I agree that `--privileged` is a security concern. In the case of
using continuous integration this won't matter since it's spawned on a
temporary node. I envision this should be most common use case for bioboxes, so
that we don't have to manually test containers when we're given them. We could
maintain list of bioboxes of each type and then circleci could test each
container on the list

[2015-03-06 04:07] Leprevost commented on #67
Thanks @michaelbarton , I will try to get the meeting from the beginning.

[2015-03-06 08:52] avilella commented on #35
Just to add to the info, arvados uses --privileged because they also run
docker-inside-docker as part of their system.

There are a couple of arvados guys in the CWL group, so they may have some
ideas around this area.

A.

On Fri, Mar 6, 2015 at 1:14 AM, Michael Barton <notifications@github.com>
wrote:

[2015-03-06 15:53] pbelmann commented on #61
I agree with @michaelbarton that we should not use the environment variables concept in future releases. The short read assembler interface transformed to yaml would look like this:
[code]
I have added a version tag to the interface because that way the container can maybe directly tell if it supports the version of the provided format.

I'm not familiar with ontologies like EDAM but I think we sh

[2015-03-06 16:32] pbelmann opened #84 "Binning Validation Container"
Build a validation container that validates a Binning Container. This validation container should use https://github.com/bioboxes/validator-base as a base image.

[2015-03-06 18:04] accopeland commented on #61
Maybe the  'parameters:' key  is not needed ?

On Fri, Mar 6, 2015 at 7:53 AM, pbelmann <notifications@github.com> wrote:

--

Alex Copeland
Joint Genome Institute, Walnut Creek, CA 94598

[2015-03-06 20:04] abremges commented on #61
On a related note (and for comparison), SPAdes reads YAML.
See its manual for a list of attributes and some examples:
http://spades.bioinf.spbau.ru/release3.5.0/manual.html#yaml

JSON or YAML, I don't really care. Both better than our previous solution.
YAML allows inline comments, JSON might be better for webservices.
I don't see an obligatory need for comments right now - do you? /A

[2015-03-06 20:06] mr-c commented on #61
+1 for comments & YAML over JSON.

On Fri, Mar 6, 2015 at 3:04 PM Andreas Bremges <notifications@github.com>
wrote:

[2015-03-07 02:31] michaelbarton commented on #61
Thanks for the suggestion @pbelmann, I really like this. I think that having a
version at the top the file is very important. Joe Armstrong writes a good
[explanation of why data versions are important][data] in the section *"No
versions in the source files"*. Including a version will allow a container to
exit gracefully if it doesn't support it. I think the version number should be
specific to ge

[2015-03-07 02:32] michaelbarton commented on #61
I think we could also roll issue #9 into this change at the same time. If each
container provides a set of signatures we could compare this against the inputs
for the config file to determine if they match.

[2015-03-08 05:06] michaelbarton commented on #81
www.bioboxes.org now redirects to bioboxes.org

[2015-03-08 05:06] #81 closed

[2015-03-09 01:34] kern3020 commented on #79
Hello,

Like Michael Crusoe, I am interested in cwl from a point of view of bringing my pipeline to it. Platform builders (e.g., biodatomics, seven bridges, curoverse) are really the authority on cwl proper.

When I heard Albert's description of bioboxes, it seemed to have some similarities to bcbio ( https://github.com/chapmanb/bcbio-nextgen).  Brad Chapman is our leader and the project has been

[2015-03-09 10:23] fungs opened #85 "Parsing and accessing input/output in containers"
Hi, I openend a separate issue as this is related to but independent from how the interfaces are actually defined. If we come up with a structured way to specify and pass information to the container which involves YAML or similar, it should be accessible to the tools immediately without having to go through language parsing. Eventually, this will make it necessary to develop some connecting code

[2015-03-09 10:25] fungs commented on #61
I would try to keep information separate which is only valid inside the container and information which is host-specific or general. See also #85 for inside access to the passed information.

[2015-03-11 13:44] pbelmann commented on #61
@abremges and I have used the format suggested in @michaelbarton last comment to add further properties.

Below the following YAML you will find an explanation.

[code]

Explanation:
* reference tag: Since assemblers like SPADES and MIRA can use reference information, we have added a `reference` tag.
* type tag: The type tag represents an object with the properties `platform` and `protocol`. Valid

[2015-03-11 13:53] pbelmann commented on #85
Could you make an example? Do you suggest to move the mounted directories/files to a given directory structure?

[2015-03-11 14:12] pbelmann commented on #69
The database section is a temporary solution to the problem that you simply can not delimit the databases a binning or profiling tool could use. Binning or profiling tools could use any kind of information, thus any kind of database. But I'm happy if someone could come up with a better solution.

The database section is linked in profiling and binning tools spec.

[2015-03-11 14:16] abremges commented on #61
There is obviously some work to be invested in our schema, but I don't think there is a much simpler way to specify things while still supporting the majority of sequencing platforms (and assemblers). A bunch of optional tags and various possible combinations. It's complicated, but reflects reality. Valid platforms and protocols require additional research from our side (I volunteer).

**One thing

[2015-03-11 14:38] fungs commented on #85
I would try to avoid any expensive operation on files and solve this via mounts, links etc. This would be more of a common view on the data which is required by the spec and given to the container. Applications in the container can use the view and avoid having to parse the (semi-)structured data. For the simple example which @pbelmann posted in #61

[code]

the interface could be viewed as

    /

[2015-03-11 14:40] asczyrba commented on #61
I think the different cases (A), (B) and (C) were treated as "tasks":
"task:default" would be case (A)

[2015-03-11 14:50] abremges commented on #61
Which means that you need 3 redundant tasks, if the assembler can handle any situation automatically with default settings, or you cannot try a certain assembler on e.g. your metagenomic data just because such a task was not defined (despite possibly producing good results).

I'd personally go for another (optional) YAML tag instead, that the assembler can base its parameter choice on, or ignore i

[2015-03-12 05:23] michaelbarton commented on #61
I feel that we should aim to have a working implementation for at least one
container and then try using it. Using a specification will give us feedback on
what works and what doesn't. There is always the danger that we can endlessly
discuss this and lose motivation. I think should continue to discuss this with
the aim of selecting the minimum viable configuration we can use to get
prototypes work

[2015-03-12 05:26] michaelbarton commented on #67
@mr-c If possible, you are welcome to join our meeting at 16:00 GMT. Could you give me your skype name if you would like to join us.

[2015-03-12 05:29] Leprevost commented on #67
I apologize but I will not be able to participate the meeting, I have to deal with some urgent issues today.

[2015-03-12 09:13] pbelmann commented on #61
@michaelbarton I agree with you that we should have a minimal working version of a an assembler definition as soon as possible.
Maybe we should discuss in the meeting which parameters we should include and decide on a final version, so we can start to build the containers. I like the idea that the assembler outputs a YAML because it solves one part of the bioboxes pipeline issue in #9.
But one par

[2015-03-12 14:03] avilella commented on #67
@tetron (Peter A.) may join.

For the next conf call in two weeks time (@michaelbarton, can you open an issue) I suggest we can talk about arvados and their crunch scripts, to see an example of how to consume bioboxes containers in real life.

[2015-03-12 14:54] tetron commented on #67
Hi @avilella, my Skype name is peter.i.amstutz

[2015-03-12 15:03] pbelmann opened #86 "Assembler YAML Schema"
Dependent on the final YAML we decide in #61, we need some kind of schema to check against. By using a schema we can ensure that a YAML given to a container has the correct format.

There are three different types of schema we could use:
 * XML with XML schema definition (XSD)
 * JSON with  [JSON-Schema](http://json-schema.org/) or [Rx](http://rx.codesimply.com/) ,
 * YAML with [kwalify](http://ww

[2015-03-12 15:44] avilella commented on #39
- https://www.gov.uk/government/publications/what-makes-a-charity-cc4/what-makes-a-charity-cc4#part-3-about-the-descriptions-of-purposes

- Usually, you must register with the Charity Commission if your
  charity is based in England or Wales and has over £5,000 income per
  year.

[2015-03-12 16:32] fungs commented on #69
We should probably stay completely away from what a DB folder (I would rather call it custom data or similar) should contain and leave it to the container types or implementors what extra data they might need to pass. Each input folder by default should have a distinct type but later, when we use proper signatures, subfolders can provide different types.

I would try to standardize name spaces ali

[2015-03-12 16:57] avilella commented on #79
Notes from @tetron explanation of CWL:

- CWL: describe scientific workflows

- portability, many platforms, very difficult to port workflows due to
  external configurations

- tool wrapper, data model

- dependencies are really challenging, a lot of configuration
  involved, docker is a wonderful solution

- what is missing is a uniform way describe the input and command line
  to invoke the con

[2015-03-12 18:06] michaelbarton commented on #15
Different compression formats would be useful to consider, however there are
more urgent priorities for bioboxes in the short-term. This issue will be
closed and should reopened when it becomes a priority again in future.

[2015-03-12 18:06] #15 closed

[2015-03-12 18:09] michaelbarton commented on #9
This topic was reviewed in meeting #67. Type signatures are still relevant and
are being discussed in issues #86 and #61.

[2015-03-12 18:14] michaelbarton commented on #35
Discussed in meeting #67. Validators are still a priority. These will start
being implemented once a specification is agreed for passing data to bioboxes
(#61, #86).

[2015-03-12 18:19] michaelbarton commented on #39
Discussed in meeting #67. @avilella has been looking into creating a non-profit
UK charity. A charity doesn't need to be registered if there is less than
£15,000 in funding, and the donors do not need tax receipts.

@avilella if no further action is required on this issue, can this issue be
closed?

[2015-03-12 18:19] michaelbarton commented on #39
@avilella if we wanted to pay for travel expenses as a non-profit rather than
through onto.it, can this be done?

[2015-03-12 18:25] avilella commented on #39
I think the procedure would be for members of bioboxes to pay up-front and
get directly reimbursed to their bank accounts. I'll ask if that is ok on
my side...

On Thu, Mar 12, 2015 at 6:19 PM, Michael Barton <notifications@github.com>
wrote:

[2015-03-12 18:26] michaelbarton commented on #44
Discussed in meeting #67. The same people are using teleconference call
biweekly to discuss bioboxes. We agree this was adequate and this is issue will
be closed. This should be revisited in future if anyone feels they are not able
to contribute as much.

[2015-03-12 18:26] #44 closed

[2015-03-12 18:52] michaelbarton opened #87 "Write a call-for-contributions commentary article for gigascience."
We will publish an commentary in GigaScience (discussed in #45 and #47). This
editorial will be a call for feedback and implementations of bioboxes. The word
limit for the editorial is 1200 words. The first step is to plan the outline of
this article.

The resolution of this issue should be a text plan as a bioboxes github repo.
Once this is created, other members of @bioboxes/core-team should pro

[2015-03-12 18:58] michaelbarton commented on #45
Discussed in meeting #67. We will write an editorial with the aim of
publication before BOSC 2015 (#65). This editorial should be call for feedback
and implementations of bioboxes from the bioinformatics community. Issue #87
will first plan of how this editorial will look.

[2015-03-12 18:59] michaelbarton commented on #45
I've renamed this issue to clarify the objective.

[2015-03-12 19:02] michaelbarton commented on #46
Discussed in #67. Instructions for editors and reviews are dependent on
agreement of a specification (#61, #85) and working validators (#35).

[2015-03-12 19:08] michaelbarton commented on #47
Discussed in meeting #67. Adoption of bioboxes standards by journals will
become a greater priority once we have editor/reviewer instructions (#46) and
working validators (#35).

[2015-03-12 19:20] michaelbarton commented on #52
Discussed in meeting #67. This issue is dependent on funding for the core team
to travel and stay in Dublin. @avilella will look into this.

[2015-03-12 19:22] michaelbarton commented on #60
Discussed in meeting #67 and @pbelmann will look into this.

[2015-03-12 19:35] michaelbarton commented on #61
Discussed in meeting #67. This issue is a priority for the CAMI members because
they would like to link to a spec for participants. @pbelmann will propose an
update.

[2015-03-12 19:42] michaelbarton commented on #65
Discussed at meeting #67. This is not a immediate priority, however this will
be a priority at the next biweekly meeting as the abstract deadline is April 3.

[2015-03-12 19:45] michaelbarton commented on #66
Discussed in meeting #67. @fungs has implemented a README for the data-format
directory. He has agreed to do the same for the container directory. This file
will link to the major versions of each RFC in the github repo.

[2015-03-12 20:03] abremges commented on #87
Instructions for authors (an editorial is the second form listed AFAIK):
http://www.gigasciencejournal.com/authors/instructions/commentary

[2015-03-12 20:32] michaelbarton commented on #69
Discussed in meeting #67. We could not reach an immediate consensus on how to
fit this large file into the existing RFCs. @fungs will propose possible
solution.

[2015-03-12 20:35] michaelbarton commented on #70
Discussed in meeting #69. @leprevost has written his interest in participating
in the development of bioboxes. This issue will therefore be closed as
resolved.

[2015-03-12 20:35] #70 closed

[2015-03-12 20:44] michaelbarton opened #88 "Can bioboxes use IRC for informal discussion and questions"
In meeting #67 I suggested that we might use IRC as an informal method for
discussions and asking questions. This was agreed as possibly being useful. I
have created [an IRC room on irccloud][room]. The advantage of ircclound is
that the channel will still remain after leaving and rejoining.

The resolution of this issue is whether or not IRC is useful for bioboxes
discussions.

[room]: https://ww

[2015-03-12 20:45] avilella commented on #88
Can you give the details to login? thx

On Thu, Mar 12, 2015 at 8:44 PM, Michael Barton <notifications@github.com>
wrote:

[2015-03-12 20:48] michaelbarton commented on #61
I've updated the issue title to reflect the current discussion.

[2015-03-12 20:52] michaelbarton opened #89 "Biweekly review meeting - Thu Mar 26 15:30 GMT"
We should discuss #65 as the BOSC 2015 abstract deadline is approaching. This
meeting will also be a google hangout. Please email me your gmail addresses.

[2015-03-12 20:52] michaelbarton commented on #67
### Attending

  * Albert Vilella (@avilella)
  * Andreas Bremges (@abremges)
  * Johannes Dröge (@fungs)
  * Michael Barton (@michaelbarton)
  * Peter Belmann (@pbelmann)

### Reviewed Issues

  * #9 Type signatures are still a relevant discussion and are related to #86
    and #61. This issue will remain open.

  * #15 Different compression formats will be useful since gz is outdated.
    There

[2015-03-12 20:53] #67 closed

[2015-03-12 20:55] michaelbarton commented on #88
@avilella you need an account on ircclound I think, and then should be able to access the room.

[2015-03-12 21:00] avilella commented on #88
Got one now. what network/url ?

On Thu, Mar 12, 2015 at 8:55 PM, Michael Barton <notifications@github.com>
wrote:

[2015-03-12 21:02] michaelbarton commented on #88
irc.irccloud.com:6667

[2015-03-12 21:02] michaelbarton commented on #88
Channel bioboxes

[2015-03-12 22:16] pditommaso commented on #88
Did you take in consideration a [Gitter](https://gitter.im) chat?

It works pretty well and integrates smoothly with Github.

[2015-03-12 22:26] michaelbarton commented on #61
@pbelmann I will add some further thoughts below.

### Chaining containers together

The signatures I initially proposed for short read assemblers was two
arguments, one a list of FASTQ files and the other a list of insert sizes.
Assuming a container called `assemble` this looks as follows:

    assemble: [paired_fastq], [insert_size] → fasta

In the meeting #67 you mentioned that this would not w

[2015-03-12 22:51] michaelbarton commented on #88
@pditommaso No I hadn't. It looks interesting. Have you been using it? How does it fit into your workflow?

[2015-03-12 22:58] pditommaso commented on #88
Yes, I'm using for Nextflow project. It provide unlimited history, markdown formatting and above all you can mention Github issues and pull requests.

Have a look here https://gitter.zendesk.com/hc/en-us/articles/200176692-Issue-and-Pull-Request-mentions

[2015-03-12 23:15] michaelbarton commented on #88
That's interesting, the pull requests and issue integration would be useful for discussing them in chat. What does everyone else in @bioboxes/members think?

[2015-03-13 02:10] ScottBGI commented on #87
FYI, unless we as the editors wrote this ourselves we'd probably take this as a commentary rather than editorial. Its essentially the same type of article though, and the word count and instructions for authors @abremges has posted are correct. The other thing to watch out for is it has to have 10 or less references. You can see a few examples of similar "call to arms"/project announcement papers

[2015-03-13 06:29] abremges commented on #88
I'd prefer Gitter over IRC.

This maybe removes some clutter from the Issues section.
Summaries of discussions should be posted in here, though.

[2015-03-13 07:52] pbelmann commented on #88
+1 for Gitter

[2015-03-13 09:13] fungs commented on #61
# Requirements and definitions

For the range of this discussion, I just would like to clarify the concepts a little bit in order to make sure that everybody has the same understanding. This is my current understanding and how I would approach the problem.

A "signature" as described by @michaelbarton in standard structured form would be a schema (for XML, JSON or YAML) which can be validated, mat

[2015-03-13 09:25] fungs commented on #88
+1 Gitter

If we move to hangout for conference calls, this also gives us a chat. I'd go for the most convenient solution and GitHub integration sounds like just what we want.

[2015-03-13 09:27] pbelmann commented on #61
@michaelbarton I agree with you that using signatures is very useful but by creating a `Maybe` type you will have to introduce nil for optional values. In my opinion a user should not write a value like "insert_size" if he can not provide a value. So @abremges  and I incorporated signatures in the next design example:

### Soap Assembler Example:
####Signature
[code]
As you can see, you can define

[2015-03-13 09:46] avilella commented on #88
The ADAM people also use Gitter:

   - Chat with ADAM developers at https://gitter.im/bigdatagenomics/adam

On Fri, Mar 13, 2015 at 9:25 AM, fungs <notifications@github.com> wrote:

[2015-03-13 15:24] Leprevost commented on #87
sorry if this is offtopic, but I think it may interest everyone;  just saw this today:
http://arxiv.org/abs/1410.0846

[2015-03-13 15:31] asczyrba commented on #87
this is actually published already

http://dl.acm.org/citation.cfm?id=2723882 <http://dl.acm.org/citation.cfm?id=2723882>

[2015-03-13 15:33] avilella commented on #87
I think we have Carl Boettiger in the list of stakeholders for bioboxes,
haven't we?

@michaelbarton , did we contact him?

On Fri, Mar 13, 2015 at 3:31 PM, asczyrba <notifications@github.com> wrote:

[2015-03-13 15:40] avilella commented on #87
I emailed Carl just now. Let's see if he gets back to us.

On Fri, Mar 13, 2015 at 3:33 PM, Albert Vilella <avilella@gmail.com> wrote:

[2015-03-13 22:19] pbelmann opened #90 "Assembler Example"
We should test the specs defined in #61 by building two working examples:

### Ray Assembler
Signature:
`ray:[(Id,fastq)] -> fasta`

More complex example:
### Soap Assembler
Signature:
`soap:[(Id,fastq)],[(Id,fragment_size)] -> fasta`
Any definition will be checked against a schema discussed in #86.

They should accept a yaml like:
[code]

The current rx based schema for assemblers is:

[code]

I

[2015-03-14 02:12] avilella commented on #89
@cboettig from rocker fame may join the google hangouts in the last 30-20 minutes of the call.

[2015-03-14 13:25] ntijanic commented on #61
Hi, everyone.

CWL has been mentioned a few times in the thread, so I thought I'd give an example of what these types of assemblers would look like when described in current version of CWL draft2. Note that there are several ways to do this in CWL and this is just my approach.

The YAML below describes only the basic inputs/outputs interface of assemblers that work with a single reference fasta fi

[2015-03-14 19:39] pbelmann commented on #90
I created the ray repository that works with the above schema. @bioboxes/members have write access.

@michaelbarton  mentioned in #61 that an assembler should have a yaml as output that contains the path to the fasta. I think this addresses also #9 so I suggest the following example yaml:

[code]
and schema:

[code]

[2015-03-15 02:02] michaelbarton commented on #61
@pbelmann I really like this suggestion. I agree that asking the user to write
a `nil` entry will be confusing.

I think we can remove the signature from the start of the document as this may
also be confusing for the user. Instead the container could see if the document
matches the signatures it supports, and if not then fail with a reasonable
error message why this is the casea. Here is my sugge

[2015-03-15 04:24] michaelbarton commented on #88
OK, gitter is the consensus.

[2015-03-15 04:30] michaelbarton commented on #9
This issue is being considered as part of definining how data is passed to a
biobox. A more concrete example

[2015-03-15 04:59] michaelbarton commented on #90
Thanks for creating the example assembler @pbelmann. You mention the signature
at the start of the README. I think since the signature is also structured
data, the signatures could be defined as YAML too. For example if the signature
was:

  soap: [fastq A], [fragment_size A] -> fasta B

Then the YAML signature would be:

YAML```
---
version: X.Y.Z
input:
  - [{fastq: A}]
  - [{fragment_size: A}]

[2015-03-16 11:53] ypriverol commented on #87
@Leprevost Both examples are fine but they are more like introduction to Docker. I read both of them and they basically propouse the idea of reproduce science using docker, but this idea is not new, some other references before propose the idea of store the machines that were used for the bioinfo analysis (http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003285).

@michaelbar

[2015-03-16 11:54] ypriverol commented on #89
@avilella @michaelbarton Can I joint you in this meeting.

[2015-03-16 12:17] avilella commented on #87
Thanks @ypriverol .

Let me just briefly summarise where we are now, and please
everybody/anybody correct me if I am wrong. I think there are two stages
here:

One is the short editorial/comment publication, which is this github ticket
#87, and it seems gigascience are keen on us publishing there.

Then there is something bigger, which is the first draft of the
specification, which in Summer time

[2015-03-16 12:19] ypriverol commented on #87
@avilella thanks for clarification.

[2015-03-16 12:20] avilella commented on #89
Cool, thanks @ypriverol .

@michaelbarton , just to summarise for you: @ypriverol and myself had
coffee this weekend in Cambridge UK, where I gave a (good?) lengthy
description of what bioboxes has been so far to @ypriverol . We will
hopefully see @ypriverol going through the current documents in here, and
in general participating in the project.

Cheers,

A.

On Mon, Mar 16, 2015 at 11:54 AM, Yas

[2015-03-16 12:22] ypriverol commented on #89
@avilella Can you point me to the proper issues and documentation before start the discussion about #biodocker movements.

[2015-03-16 12:41] avilella commented on #89
One could probably start with #86 #90 and #61 , but there are many others which also contain useful info.

[2015-03-16 13:19] pbelmann commented on #61
@michaelbarton I agree with you in this four points.

In this point you are right when you are the developer. From a user perspective it is maybe not the best solution because he would have to repeat himself in every entry.
It should be obvious that when I want to add a fragment size specification for a library I just would have to add an entry in the frament_size list.

So I modified your last ex

[2015-03-16 16:19] pbelmann commented on #90
I created the ray repository that works with the schema of my last comment in this issue. @bioboxes/members have write access.

I agree. I will create the issues shortly for soap and ray.

I agree. It think it is even possible to create a custom type in schema library like rx(what we are using at the moment (see #86 )).  That way we could mix the types according to the signature. If it works we do

[2015-03-16 17:15] michaelbarton commented on #90
I wasn't too clear on this. Do you mean we could generate an Rx document from a
YAML-serialised signature?

I don't think we should define every signature, instead I thought it might be
useful to require certain signatures are available in each biobox type. For
example if every short read assembler provided this signature as a minimum:

    f: [paired_fastq A], [Maybe fragment_size A] -> fasta B

[2015-03-16 18:29] michaelbarton commented on #61
Thanks for your comments @pblemann, I think we are making good progress. I
think the arguments must be a list because the signature is a list. In the
example below the list contains two items:

    velvet: [fastq A], [Maybe fragment_size A] -> fasta

I think we agree that the types of the signature must be a controlled
vocabulary: e.g. pick from a enum of values such as "fastq" / "paired_fasta" /

[2015-03-16 18:31] michaelbarton commented on #61
Thanks for your comments @pblemann, I think we are making good progress. I
think the arguments must be a list because the signature is a list. In the
example below the list contains two items:

    velvet: [fastq A], [Maybe fragment_size A] -> fasta

I think we agree that the types of the signature must be a controlled
vocabulary: e.g. pick from a enum of values such as "fastq" / "paired_fasta" /

[2015-03-16 18:38] michaelbarton commented on #87
Thanks for the clarification @ScottBGI. I've updated the issue title to reflect this is a commentary.

[2015-03-16 18:54] michaelbarton commented on #65
I've created a github repository for maintaining the abstracts - https://github.com/bioboxes/abstracts. When writing the BOSC abstract please create a pull request to this repository.

[2015-03-16 18:56] michaelbarton commented on #65
@avilella Would you mind writing a draft of the abstract? It would be good to have a first version before the next biweekly meeting.

[2015-03-16 19:20] michaelbarton commented on #45
Before submitting this article we should have more details on the website so
that readers can find out more information and get involved in the project. The
outstanding issues for this, at present, are #74, #80.

[2015-03-16 19:31] michaelbarton commented on #87
I've created a repository for the article here - https://github.com/bioboxes/commentary-article

I encourage anyone to who would like to start planning this article to go ahead and submit a pull request. The BOSC 2015 abstract deadline is approaching so I will also ask that someone consider taking a look at this issue too - #65

[2015-03-16 19:34] #82 closed

[2015-03-16 19:38] michaelbarton opened #91 "Bioboxes.org should display the logo"
As we have a logo it would be good to have this logo displayed on the pages of
the site.

[2015-03-16 19:48] avilella commented on #65
First very rough draft.

On Mon, Mar 16, 2015 at 6:56 PM, Michael Barton <notifications@github.com>
wrote:

[2015-03-16 21:00] pbelmann commented on #61
@michaelbarton you are right. This would not work.

In this example we don't have to use type in fragment_size. Am I right @michaelbarton ? Or does the user have to define it in any case?

In my opinion both options have advantages and disadvantages. However I would lean towards the second one. So I guess the other @bioboxes/members will have to choose between

[code]

 and

[code]

@michaelbarton

[2015-03-16 21:57] #91 closed

[2015-03-16 22:47] pbelmann commented on #90
In my opinion there are two scenarios where a schema could be useful (it does not have to be rx).

### Schema Scenarios

1. We could create one rx schema that checks all possible definitions for an assembler yaml.
This is what I'm doing at the moment.
Example:
When you take a look at my first comment in this issue, it accepts the signatures `[fastq],[fragment_size] -> X` and  `[fastq] -> X` and no

[2015-03-17 01:49] michaelbarton commented on #89
I've just updated the bioboxes website - there are now pages for [getting started][start] and [making contributions][contr].

[start]: http://bioboxes.org/getting-started/
[contr]: http://bioboxes.org/contribute/

[2015-03-17 01:54] michaelbarton commented on #87
@ypriverol What @avilella wrote is correct. I think we've agreed that a larger second article be written when the standard is more mature and we are seeing bioboxes being regularly used.

[2015-03-17 03:40] michaelbarton commented on #61
I agree. I think this is almost resolved and if we can decide one way or
another we can close this issue and move forward.

[2015-03-17 03:44] michaelbarton commented on #77
I'll suggest that this biobox has the signature:

    f: fastq -> fastq

Is this correct? Most fastq preprocessors take a fastq file and return a new
one processed in some way.

[2015-03-17 04:14] michaelbarton commented on #65
Thanks for doing this @avilella. I've added my own revisions to your repository
in avilella/abstracts/#1. The are some [abstract requirements for
BOSC2015][req]. One of them is the list of authors, I put "bioboxes community".
I'm not sure if this will be acceptable though.

[req]: http://www.open-bio.org/wiki/BOSC_Abstract_Submission

[2015-03-17 04:20] michaelbarton opened #94 "Bioboxes should create a GUI for easy running bioboxes"
Creating a graphical user interface (GUI) for bioboxes would be the single
fastest thing to accelerate adoption. At present using Docker requires
knowledge of Docker and the command line. A GUI that someone can download and
then start their data through a biobox would put a huge amount of software in
the hands of many biologists.

This is not an immediate priority but I think is something we shoul

[2015-03-17 04:25] michaelbarton commented on #94
A GUI would also help editors/reviews to enforce the standard too.

[2015-03-17 04:31] michaelbarton commented on #89
@ypriverol You can join the meeting. Are you interested in being assigned some issues?

I've added details about the organisation to the bioboxes website - http://bioboxes.org/organisation/

[2015-03-17 04:46] michaelbarton commented on #80
Do any @bioboxes/members fancy taking this on? This is what the current bioboxes.org page looks like - http://bioboxes.org/

[2015-03-17 06:14] ypriverol commented on #89
@michaelbarton more than happy to take an issue. Let me know how to start!!

[2015-03-17 07:20] pditommaso commented on #94
Are you thinking to something like [Kitematic](https://kitematic.com/) ?

[2015-03-17 08:43] pbelmann commented on #94
@pditommaso something like Kitematic would be great. It should just be a little bit adjusted to bioboxes. With features like:

* input fields for every interface variable (like fastq)
* choosing between bioboxes containers of one type (assembler, binning ....)
* or maybe even creating and saving your bioboxes pipeline by connecting containers in a gui
* with the new docker 1.5.0 features we could

[2015-03-17 10:53] avilella commented on #65
Ok, I will stick to markdown ATM since they have a Markdown to PDF way of
conversion on the website:
https://s3.amazonaws.com/chapmanb/openbio/bosc_template_pandoc.tar.gz

Can people give me their affiliation details below as you would do for a
pubmed article please?

Full author name (as used in pubmed)
Organization name
Location

@michaelbarton
@abremges
@fungs
@avilella
@leprevost
@ypriverol
@p

[2015-03-17 10:57] avilella commented on #61
Naively I would think, whenever we don't feel strong about one way or
another, my reaction would be to ask downstream to
@common-workflow-language :

@tetron @ntijanic @mr-c any strong opinions on the last couple of comments
from the point of view of CWL?

On Tue, Mar 17, 2015 at 3:40 AM, Michael Barton <notifications@github.com>
wrote:

[2015-03-17 11:37] abremges commented on #65
I looked up most affiliations etc. for my pull request here: https://github.com/bioboxes/commentary-article/pull/1

I'd propose joint first authorship for @michaelbarton and @pbelmann instead.
At least some of our PIs should be included, providing funding and guidance behind the scenes.
E.g. @asczyrba is actively involved, regularly discussing issues with @pbelmann and me.

[2015-03-17 13:03] ntijanic commented on #61
AFAICT, any of the suggested options can be represented in CWL (lib+insert tuples or matching by id).

Between the last two choices, I'd suggest not to introduce the "fragment_size" type in the same place with "paired_fastq". Former is a "semantic" type (with data type integer) and latter is a format/datatype (reference to a pair of fastq files?) the semantic type of which would be something like

[2015-03-17 14:00] pbelmann opened #95 "New short-read genome assembler container spec"
@michaelbarton I created a branch  with the draft for the new assembler spec. We should merge this when issues #61 and #90 are closed. For now I chose one of the definitions discussed in #61 as an example.
I think we can exchange the schema technology discussed in #86 later if we want to, so we don't have to wait for closing #86.
Instead of using fasta as output type, we should think about using t

[2015-03-17 14:10] avilella commented on #65
Thanks.

Adding @asczyrba as well.

@abremges, can you list the PI info below so that we have the complete list
of authors ready?

On Tue, Mar 17, 2015 at 11:37 AM, Andreas Bremges <notifications@github.com>
wrote:

[2015-03-17 14:34] abremges commented on #65
Sure, I had the info ready anyway. My best guess, sorted alphabetically.
Everyone should double-check, especially @leprevost and you, @avilella:

GitHub | Name | Affiliation | Role
---|---|---|---
@michaelbarton | Michael Barton | DOE Joint Genome Institute, 2800 Mitchell Drive, Walnut Creek, CA 94598, USA. |
@pbelmann | Peter Belmann | Faculty of Technology and Center for Biotechnology, Bielefeld

[2015-03-17 15:00] avilella commented on #65
Thanks, I think I added it as you have it in the abstract mkd file now.

On Tue, Mar 17, 2015 at 2:34 PM, Andreas Bremges <notifications@github.com>
wrote:

[2015-03-17 15:55] #60 closed

[2015-03-17 15:59] ypriverol commented on #65
@michaelbarton @avilella I don't know if is possible to put Henning Hermjakob My PI also. It will help in the future and also it has been involve in the development of standards like MIAPE MIAME, etc. But just if I finally contribute a lot.

[2015-03-17 16:21] abremges commented on #65
I think each of us should discuss this with his PI at some point in the future, and keep the [ICMJE authorship criteria](http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html) in mind. Given the origin of bioboxes (it started as a collaboration between Michael's [nucleotid.es](http://nucleotid.es/) and our [CAMI challenge](https:/

[2015-03-17 16:28] ypriverol commented on #65
@abremges Agree!!

[2015-03-17 16:57] pbelmann commented on #86
[apache avro](http://avro.apache.org/docs/1.7.7/mr.html) is mentioned by @tetron in  common-workflow-language/common-workflow-language#2 . It is a serialization framework, originally created for Hadoop and has way more features than just a check against a schema. Among others it allows code generation and is available in python, java, ruby, c# and  c++.

[2015-03-18 04:19] michaelbarton commented on #95
Thanks @pbelmann. I had time to take a quick look at the branch containing the
updated RFC, this looks good. I suggest we try creating an assembler that
accepts these inputs? I know that you created the soap biobox, would this
already work with what we've described? I might guess that we need to something
for the signature acceptance part.

As for the EDAM, we could drop the requirement for this i

[2015-03-18 09:35] pbelmann commented on #88
Thanks @michaelbarton for creating the gitter chat room. @bioboxes/members can join now. Go to https://gitter.im/bioboxes and sign up with your github account.

[2015-03-18 09:43] peterjc commented on #52
I've just added this to http://www.open-bio.org/wiki/BOSC_Abstract_Submission (it was just on the actual submission form):

*If the registration fee would prevent you from attending BOSC, please let us know in the Comments box when submitting your abstract. We have a limited number of free and half-price spots for accepted speakers.*

[2015-03-18 10:37] pbelmann commented on #61
Thank you @ntijanic for telling us your opinion. I agree that we should not use semantic types ( like fragment_size ) and datatypes (like paired_fastq) on the same level in the YAML. I think we could solve this issue for now by using the following yaml format:
[code]
But I'm sure we have to think about it more in later bioboxes versions. Any other opinions from @bioboxes/members? @michaelbarton if

[2015-03-18 10:40] pditommaso commented on #88
I hope there will be a "rfc" public room so also non members could join the discussion.

[2015-03-18 10:43] ypriverol commented on #61
@pbelmann how it would fit for example if you have a bioinformatic application server or even a pipeline inside the container. For example if the contained only have a software that run different nodes by passing it an xml file. In case of application server that contains the data how the present specification will fit?

[2015-03-18 11:32] pbelmann commented on #95
I would suggest to clarify #61, then I would continue to work on #90 and after that I or we could update the new assembler spec branch. I will add an example for a signature part, maybe you could take a look at it later.

I agree.

[2015-03-18 11:35] pbelmann commented on #88
@pditommaso I agree. We should think about making the current room public or creating a second public room, so we can for example help non members creating or using bioboxes. But maybe not now because we are working on main parts of the spec.

[2015-03-18 12:02] avilella commented on #88
I suggest we give ourselves some time for a final push on the spec and then
use the irc and github as channels to gather feedback from anyone
interested in the work that has been taking place.
On 18 Mar 2015 11:35, "pbelmann" <notifications@github.com> wrote:

[2015-03-18 12:02] avilella commented on #95
I also feel like EDAM shouldn't slow things down for now. It will probably
be relatively easy to add EDAM ids later on as an extra feature, so I say
let's keep EDAM on hold in the system and retake it as a task later on.
On 18 Mar 2015 11:32, "pbelmann" <notifications@github.com> wrote:

[2015-03-18 14:47] michaelbarton commented on #61
@pbelmann what would be the values of SEMANTIC_TYPE and DATA_TYPE in your
example?

On Wednesday, 18 March 2015, Yasset Perez-Riverol <notifications@github.com>
wrote:

[2015-03-18 14:49] michaelbarton commented on #88
Yes a public room is a good idea. I didn't realize this was restricted.

On Wednesday, 18 March 2015, Albert Vilella <notifications@github.com>
wrote:

[2015-03-18 14:51] pbelmann commented on #61
@michaelbarton :
* SEMANTIC_TYPE would be fastq and fragment_size.
* DATA_TYPE in the case of the SEMANTIC_TYPE fastq:  paired_fastq or fastq

[2015-03-18 14:58] michaelbarton commented on #61
@pbelmann Thanks. Yes I'm happy with this. As you wrote above, if
discover we need to make changes we can revisit this topic again.

On Wednesday, 18 March 2015, pbelmann <notifications@github.com> wrote:

[2015-03-18 15:00] pbelmann commented on #61
So I think we can close this issue now. I'm discussing @ypriverol 's question in gitter.

[2015-03-18 15:02] michaelbarton commented on #61
@ypriverol I think we can't cover every case to begin with. Getting a few working biobox examples should be a priority now.

[2015-03-18 15:03] #61 closed

[2015-03-18 15:14] ypriverol commented on #61
@michaelbarton Agree but we need to make clear this from the very begining we can discuss this in Gitter.

[2015-03-18 20:23] pbelmann commented on #90
In issue #61 we decided on a YAML like the following:

[code]

For now I choose the rx schema until we decide on maybe another library in #86 :

[code]

[2015-03-18 21:02] michaelbarton commented on #86
I spent some time giving [json-schema][] a try. It seems good though, I have
tried Rx or Avro. It allows you to define additional restrictions on the schema
such as limiting the keys in a dictionary, the number and uniqueness of items
in an array, and regular expressions for strings. Here are example json
documents, we're working in YAML but it's trivial to convert between them.

### Valid assembl

[2015-03-18 21:55] pbelmann commented on #90
The output YAML file should have the output:

---
version: 0.9.0
arguments:
  - value: STRING
    type: CONTIG or SCAFFOLD

Value is the relative path to the CONTIG or SCAFFOLD fasta file.

[2015-03-18 23:47] michaelbarton commented on #90
@pbelmann If the input and output formats should match, should it look something like?

[code]

[2015-03-18 23:53] pbelmann commented on #90
I agree. Could you create the issues, I will solve this tomorrow.

[2015-03-19 00:13] michaelbarton opened #98 "The short read assemblers should generate a valid output YAML file"
We have agreed on the YAML format for bioboxes in #61. The output generated
YAML file should match this format so the same file is valid for passing to
another container. An example of this might be:

[code]

I think this would be valid for a biobox with the signature

    fasta A -> X

[2015-03-19 00:13] michaelbarton commented on #90
Ok. Created issue #98

[2015-03-19 00:16] michaelbarton commented on #86
I'm not sure we've discussed this already but are the paths relative to
`/bbx/inputs/`? This seems like the most practical solution if we passing the
output yaml from one container as the input yaml to another container.
Otherwise the paths would have to be changed each time if it was absolute.

[2015-03-19 00:27] michaelbarton commented on #98
I made a mistake in the yaml above. The second hyphen should not appear as this is a single fasta, not a list of fasta.

[2015-03-19 01:13] tetron commented on #86
Hi @michaelbarton, in draft-2 of the Common Workflow Language, we might represent the input document like this:

[code]

And the schema defining the inputs would look something like this (as part of a larger Command Line Tool definition file or Workflow):

[code]

CWL always validates the input document against the input schema before trying to run the tool.

As @pbelmann noted, the CWL draft-2 ty

[2015-03-19 12:04] avilella commented on #86
Hi @michaelbarton and @tetron ,

A question out of my own ignorance, when you guys say "json-schema" does
that mean described as "json-ld" or is this something else? What is the
relationship between what you call "json-schema" and "json-ld" and Avro?

Cheers

On Thu, Mar 19, 2015 at 1:13 AM, Peter Amstutz <notifications@github.com>
wrote:

[2015-03-19 14:14] avilella commented on #94
@pditommaso it would be great if someone could have a look at http://kitematic.com . I don't use Mac, so I don't have the tools to try it out :-/

Some of the bullet points in @pbelmann comment could be covered by http://arvados.org , although arvados is a lot bigger in its feature set than the minimum we may want to try as a first off.

I have been playing with arvados, and maybe @tetron can give

[2015-03-19 15:07] tetron commented on #86
json-schema is a data validation language for JSON documents: http://json-schema.org/

json-ld is a way of describing the terms (keys) used in a json document so it can be interpreted as linked data (i.e. RDF): http://json-ld.org

Avro is a data definition language for describing concrete data structures.  The Avro schema language itself is usually expressed as a json document.  It can be used to

[2015-03-19 15:32] pbelmann commented on #98
Why not a list like:

[code]

[2015-03-19 15:45] avilella commented on #86
Brilliant, thanks @tetron !

On Thu, Mar 19, 2015 at 3:07 PM, Peter Amstutz <notifications@github.com>
wrote:

[2015-03-19 16:52] pbelmann commented on #86
I would say we should take a closer look at apache avro before we make our final decision. I volunteer to make an example for our current yaml (#61/#90) when I am ready with #90 and #95. Unless somebody else wants to try it :smile:  .

[2015-03-19 17:27] michaelbarton commented on #98
Shouldn't an assembler only generate one output file?

On 03/19, pbelmann wrote:

[2015-03-19 17:31] michaelbarton commented on #86
I would like to see a comparison too. It is possible to specify some of the
restrictions similarly to how json-schema allows?

[2015-03-19 17:34] asczyrba commented on #98
A lot of assemblers generate both contigs and scaffolds as output.

[2015-03-19 17:44] michaelbarton commented on #98
I see. Then this would be the signature

    [fastq A], [fragment_size A] -> contigs B, scaffolds C

If the assembler doesn't produce a scaffolds file, then I suppose it should
be:

    [fastq A], [fragment_size A] -> contigs B, Maybe scaffolds C

My concern here is that if we start adding more and more edge cases then we
no longer provide a standard interface.

[2015-03-19 17:48] asczyrba commented on #98
I agree that we should keep edge cases to a minimum, but I think contigs and scaffolds is sort of the standard.

[2015-03-19 17:52] michaelbarton commented on #98
Yes it makes sense.

On 19 March 2015 at 10:48, asczyrba <notifications@github.com> wrote:

[2015-03-19 18:02] michaelbarton commented on #94
I think before BOSC 2015 we have to focus on getting some working bioboxes
and a website that provides documentation on how to create your own.

[2015-03-19 18:35] jmchilton commented on #94
It might be worth also considering [Galaxy](http://galaxyproject.org/) as your GUI front-end - it is a great platform for this sort of thing. You could build Galaxy tool descriptions for [your boxes](https://github.com/apetkau/galaxy-hackathon-2014) and get many of the advantages you mentioned while also plugging into a very active bioinformatics focused developer community. You could plug multipl

[2015-03-19 18:46] avilella opened #99 "compile a list of potential apps to box"
I found this website which could be a good start:

http://omictools.com/

E.g. for assemblers:

http://omictools.com/genome-assemblers-c93-p1.html

(please mark as duplicate if this issue is covered elsewhere)

[2015-03-20 11:43] pbelmann commented on #90
In #86 @michaelbarton created an example for json-schema. It allows us a way better handling of [validation errors](https://python-jsonschema.readthedocs.org/en/latest/errors/). The json-schema for our current input yaml would be:

[code]

The usage of apropriate error messages is important for our [short read assembler validator](https://github.com/bioboxes/validator-short-read-assember/blob/feat

[2015-03-20 13:07] pditommaso commented on #94
@avilella I've tried Kitematic some months ago. It has a nice interface that shows the installed images and allows one to search for other images in the Docker hub. Also, it manages the installation of docker+boot2docker+virtualbox transparently, if it's not already installed. This could be a plus for novice users. Quite surely the Docker strategy is to provide an implementation of Kitematic for t

[2015-03-23 14:32] avilella opened #100 "Present at Computational Biology & Docker Conference London Sept 2015"
From @snewhouse:

Computational Biology & Docker Conference to be held here in London Sept 2015, which will be open to the world of Docker enthusiasts.

We hope to gather a decent group of us together to share ideas and start formalising this type of resource (looks like bioboxes is already moving that way...which is great!).

Please take some time to fill in our form to register interest at: http

[2015-03-24 06:35] michaelbarton commented on #86
I created a prototype input validator. The goal of this is provide a tool to
validate the given YAML without biobox authors having to do this themselves.
The prototype is [biobox-input-validator][1]. At the moment this only tests the
two input files are both valid YAML. I think we can use YAML instead of JSON if
we wish as the json-schema only seems to require loaded dictionary structures.

What I

[2015-03-24 08:37] pbelmann commented on #86
@michaelbarton that is a good idea.
I will create a PR with my code for json-schema validator.

[2015-03-24 15:04] peterjc opened #101 "Bioboxes vs BioDocker"
Is there anything useful to BioBoxes on https://github.com/BioDocker (which appears not to have been updated since July 2014)? CC @BioDocker @leprevost

[2015-03-24 15:07] peterjc commented on #101
Sorry, duplicated of #70 (missed this in my first search somehow)

[2015-03-24 15:07] #101 closed

[2015-03-24 18:16] Leprevost commented on #100
Hey sorry for the long time away, I'm still settling in here in EUA, there still a lot to do.

Anyway, I got an invitation to participate this meeting, but I'm not sure I can handle another long trip in the next months, maybe one of you guys in Europe can attend it. I can pass the contact of the person who invited me.

[2015-03-25 22:08] abremges commented on #89
I won't join the hangout tomorrow, it's my daughter's birthday.
@pbelmann and I will discuss open issues earlier. Thanks! /A

[2015-03-26 06:25] michaelbarton commented on #86
@pbelmann I've released version 0.0.2. This is still a prototype but should
actually validate a yaml input file using a yaml schema file. Do you want to
give this a try and see if this is suitable? It's compiled for linux. You'll
also have to convert the above json schema to yaml.

[ver_2]: https://s3-us-west-1.amazonaws.com/bioboxes-tools/validate-input/validate-input-0.0.2.tar.xz

[2015-03-26 13:38] fungs commented on #89
Sorry for the notification on such a short notice but I will be traveling today and I haven’t found a way to forward hangout calls to my phone.

[2015-03-26 13:40] ypriverol commented on #89
Can I joint to the meeting @michaelbarton @avilella ?

[2015-03-26 13:41] avilella commented on #89
@michaelbarton , do you want to postpone to another day so that we have
more quorum?

I can do 15:30 GMT today. I am fine either way :-)

On Thu, Mar 26, 2015 at 1:40 PM, Yasset Perez-Riverol <
notifications@github.com> wrote:

[2015-03-26 13:52] fungs commented on #73
To start with, we have a markdown index to the latest major versions for both file format and container specs now (1aaeffc1f97dbea1ec05016a4a45e739dd47e20e, b614a9f4543792c572b7071ba18466dd0be044b2).

[2015-03-26 15:36] avilella commented on #89
My gmail account is 'avilella' at gmail.com

[2015-03-26 15:38] michaelbarton commented on #89
I'll start a hangout now.

[2015-03-26 15:41] michaelbarton commented on #89
Here the [hangout][]

[hangout]: https://plus.google.com/hangouts/_/gq3q6tue52f4eslddlmqafeuhua

[2015-03-26 15:41] michaelbarton commented on #89
@ypriverol you are welcome to join.

[2015-03-26 17:25] michaelbarton opened #102 "The input-validator tool should be documented on bioboxes.org"
There should be documentation for the input-validator so that biobox authors
can include it in their bioboxes. The documentation should highlight that the
tool is used to ensure the input data is in the correct format.

I have already [created a simple documentation][doc]. This should be extended
with further descriptions of the inputs and outputs, and some examples.

[doc]: https://github.com/bio

[2015-03-26 17:33] michaelbarton opened #103 "The input file schemas should be part of the RFC"
Biobox authors will need to download the input file schema for different types
of bioboxes. E.g. A short read assembler author will need to download the
schema of the same type and use it to validate the input data. I think we
should version the schema along side the RFC for the time being and then
provide a link to it.

[2015-03-26 17:38] michaelbarton opened #104 "How can different versions of bioboxes be managed?"
There will be multiple versions of different bioboxes as authors update their
Docker images. We will need a way to manage this so that results can be
reproduced and shared. This was discussed in biweekly meeting #89. A few
options considered are:

  * Use the DockerHub image tags. For example the DockerHub java image
    maintains Java versions 6,7,8.

  * Use the build hash. Each build has a uniq

[2015-03-26 18:43] michaelbarton commented on #52
@avilella's company will not provide travel expenses for anyone from bioboxes
 to attend BOSC 2015. This means I cannot attend BOSC 2015 as the JGI will not
 provide travel expenses for me. In meeting #52 we discussed the option of
 @pbelmann possibly attending. This needs to be resolved soon otherwise the
 abstract deadline will pass.

[2015-03-26 18:54] michaelbarton opened #105 "Biweekly review meeting - Thu Apr 09 15:30 GMT"
This issue is for the next biweekly review meeting. Please add any related
comments here. I will create a google hangout a few minutes beforehand and post
it.

[2015-03-26 18:56] michaelbarton commented on #89
### Attending

  * Albert Vilella (@avilella)
  * Michael Barton (@michaelbarton)
  * Peter Belmann (@pbelmann)
  * Yasset Perez-Riverol (@ypriverol)

### Reviewed Issues

  * #86 The isse of passing and validating the input data to the biobox is the
    current top priority. This issues appears to be nearing completion as we
    will use [json schema][js] to validate the file given by the user to

[2015-03-26 18:56] #89 closed

[2015-03-26 21:22] michaelbarton commented on #86
I've been trying the input validator in a debian:jessie container, however this
didn't work due to a ld.so error. This appears to be [a known issue][issue] and
I have updated this with the strace log of the problem.

[issue]: http://bugs.nuitka.net/issue136

[2015-03-27 12:25] pbelmann commented on #103
I agree. We should create a 'schema' directory and link the schema files from the corresponding rfc document.

[2015-03-27 14:13] pbelmann commented on #90
Examples should include [input validator](https://github.com/bioboxes/input-validator)

[2015-03-27 21:17] Leprevost commented on #99
I think thats a good website to start. I'n also planning to migrate biodocker images to bioboxes

[2015-03-30 10:30] avilella opened #106 "oswitch and bioboxes"
Copying from @yeban email:

I think Bioboxes is a very commendable effort, and the community can potentially benefit a lot from it. [...] If all goes as planned oswitch will be deployed on EOS cloud (on NERC's JASMIN cluster) this week [...]

Perhaps oswitch could implement bioboxes rfc so that the boxes we build can be trivially run using oswitch. For example, mounting input files to the correct

[2015-03-30 18:36] pbelmann commented on #90
the correct yaml schema definition is now:
It is important to include the "oneOf" operator

[code]

[2015-03-30 18:38] avilella commented on #90
Thanks @pbelmann . Could we have a example schema and input files included
in the validator repo?

It would turn the validator repo into an initial complete example :-)

On Mon, Mar 30, 2015 at 7:36 PM, pbelmann <notifications@github.com> wrote:

[2015-03-30 18:50] pbelmann commented on #90
Do you mean the input-validator?
I think @michaelbarton wanted to create a generic validator that is independent of the biobox it uses.
Because Binning/Profiling/Short-Read-Processor will have another schema definition.
However I agree we should definitely include the schema in the rfc repo so the schema is for a biobox developer available. I think that is the subject of issue #103.
By the way I i

[2015-04-01 18:05] michaelbarton commented on #85
I will close this issue. Thank you for the suggestion @fungs. I believe we have settled on using json and json-schema to validate the inputs. If you think this process should be changed or improved again in future, please reopen this ticket.

[2015-04-01 18:06] michaelbarton commented on #39
This issue is currently moot. There are no organisations who will sponser bioboxes development. If this situation changes in future we will reopen this ticket.

[2015-04-01 18:06] #39 closed

[2015-04-01 18:08] michaelbarton commented on #79
This discussion in this ticket has trailed off. I will close, and we can open more specific discussion tickets as necessary.

[2015-04-01 18:08] #79 closed

[2015-04-01 18:08] michaelbarton commented on #88
We will use the gitter room bioboxes/rfc for discussions.

[2015-04-01 18:08] #88 closed

[2015-04-01 18:11] michaelbarton commented on #102
There is now a page on bioboxes.org describing how to use the input validator tool.

http://bioboxes.org/validate-input/

[2015-04-01 20:34] #102 closed

[2015-04-03 20:48] pbelmann commented on #65
abstract submitted see https://github.com/bioboxes/abstracts/pull/2

[2015-04-03 20:48] #65 closed

[2015-04-05 14:49] bgruening commented on #104
+1 for image tags. The question is if the tag should include some indication of a particular biobox rfc/version.

[2015-04-05 14:55] bgruening opened #107 "EDAM ontology for descriving data formats"
bioboxes should evaluate the usage of [EDAM ontology](http://edamontology.org) to describe file/data formats.

[2015-04-06 18:33] michaelbarton commented on #107
Thank you for the suggestion Bjorn. We have discussed EDAM in #90 and #95
but have not arrived on a concrete solution. Could you suggest an example
of this might be managed?

[2015-04-07 00:16] michaelbarton opened #108 "Create page for with an example of getting started with bioboxes"
As I user who is unfamiliar with bioboxes I should be able to go to a page on
bioboxes.org and get an understanding of how bioboxes work and can be used.
This page should contain an example of running a simple biobox.

[2015-04-07 00:21] michaelbarton commented on #108
I have [created a branch][branch] on the bioboxes.org website. This includes a
[short tutorial page][tutorial] on how to get started with bioboxes.

@pbelmann I mention in the tutorial using a bioboxes/velvet container. We don't
have this yet however this reference implementation of the short read assembler
is almost there. I didn't include the soap biobox as I believe this needs the
fragment size

[2015-04-08 14:11] pbelmann commented on #108
Yes, for soap you need the fragment size.  The branch looks good Michael. But we should decide whether we use .yaml or .yml. I think [.yaml](http://www.yaml.org/faq.html) is the official one.

[2015-04-08 15:01] pbelmann commented on #104
+1 for image tags. @bgruening I think we should somehow include the biobox rfc version:

### Proposal:
--
Since semantic versioning supports metadata, we could specify that a tag always looks like:

`X.Y.Z-x.y`

X,Y and Z are the version for the application and the x,y refers to the rfc version.

##### Example:

`0.0.1-0.9`   0.0.1 is the application version and 0.9 is the rfc version.

What do yo

[2015-04-08 15:07] bgruening commented on #104
I'm a big fan of readability, so maybe we should include bx (for biobox version/rfc) into the schema?

`bowtie:2.1.0-bx0.9`? This would also have the advantage of recognizing the `bx` as a separator. Version numbers can be really awkward and can contain dashes.

[2015-04-08 15:24] pbelmann commented on #104
I agree:

`X.Y.Z-bxA.B`
where
* X.Y.Z is the application version
* A.B is the rfc version
* bx is the delimiter

[2015-04-08 18:48] michaelbarton commented on #104
Is this referring to dockerhub image tags? If so would it be better to have
tags in the format `X.Y-bxA.B`? I think that having a tag for each patch
bump could lead to a larger number of tags. For most users I don't think
they will want to distinguish between patch versions either (assuming that
we follow semantic versioning).

[2015-04-08 18:49] michaelbarton commented on #104
Also would might we also use bbx instead of bx since we are placing files
in `/bbx` in the containers?

[2015-04-08 20:56] bgruening commented on #104
@michaelbarton I think X.Y vs. X.Y.Z is really up to the developer who should know best the underlying software. The dev should bump the version (e.g. create a new tag) if the underlying software changes the results.

No objections against `bbx` or anything similar.

[2015-04-08 21:11] avilella commented on #104
I like the system, it's similar to the wait ubuntu re-packages debian debs:

http://www.ducea.com/2006/06/17/ubuntu-package-version-naming-explanation/

Basically each package will be in the form: “*package-*X*ubuntu*Y****”.
Let’s break this apart and see what each part means:

   1.

   *package* = this is the name of the program/library.
   2.

   *X* = this is the debian version of the package

[2015-04-08 22:08] bgruening commented on #104
Exactly learn from the big onces :)

[2015-04-08 23:28] michaelbarton commented on #108
You're right, we should be consistent. I'll change this to include .yaml
and add a test in the website for this.

[2015-04-08 23:39] michaelbarton commented on #104
@pbelmann suggested [semantic versioning](http://semver.org) which I agree
with. In semantic versioning each field has a specific meaning. The Z field
is "backwards-compatible bug fixes.". Using docker with the above
convention my suggestion is that a user would do something as follows:

[code]

This would always fetch the minor/major version with the latest bug fixes
without having to specify the

[2015-04-09 00:03] michaelbarton commented on #108
There's now a page for getting started with bioboxes -
http://bioboxes.org/getting-started/

[2015-04-09 00:03] #108 closed

[2015-04-09 09:50] fungs commented on #105
I'm on vacation this whole week, so I won't attend today's meeting.

[2015-04-09 12:50] pbelmann commented on #105
This time I just have time till 16:00 GMT.

[2015-04-09 15:22] avilella commented on #105
Minutes
----------------------------------------

Attending: @pbelmann and @avilella

- We used the velvet biobox as an example to go step-by-step to:

1. create a biobox using the https://github.com/bioboxes/velvet/blob/master/Dockerfile as a template

2. How to define the input for the job via the input `biobox.yaml` (http://bioboxes.org/getting-started)

3. Execute docker run pointing to the `i

[2015-04-09 15:33] michaelbarton commented on #105
I think there's some confusion about the time. I assumed the meeting starts
now. I think this is because the clocks have changed and now the UK is on
BST. I'll set up the next meeting to make the international time clearer.

[2015-04-09 19:27] tetron commented on #105
@avilella thanks for the heads up, I will take a look.

[2015-04-14 13:18] pbelmann commented on #90
Since we merged our new specification (0.9.0) for the assemblers and the examples (velvet, ray, soap) are implementing it I will close this issue.

[2015-04-14 13:18] #90 closed

[2015-04-14 13:20] pbelmann commented on #95
We have merged the new assembler spec, so I will close this issue. EDAM will be integrated in higher bioboxes versions.

[2015-04-14 13:20] #95 closed

[2015-04-14 13:24] pbelmann commented on #103
The schema is now in the same directory as the specification as you can see here:
https://github.com/bioboxes/rfc/tree/master/container/short-read-assembler
What we need now is a link to it from the specification then we can close this issue.

We should follow this pattern in every future bioboxes versions.

[2015-04-14 13:34] #103 closed

[2015-04-14 13:37] pbelmann commented on #98
The output yaml is specified in the [new assembler spec](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd#outputs), so I will close this issue.

[2015-04-14 13:37] #98 closed

[2015-04-14 13:46] pbelmann commented on #66
Thank you @fungs and @michaelbarton,  we now have version files for the file formats

https://github.com/bioboxes/rfc/tree/master/data-format

and for the containers:

https://github.com/bioboxes/rfc/tree/master/container

I will add a link for the new assembler spec and close this issue.

[2015-04-14 13:51] #66 closed

[2015-04-14 14:09] pbelmann commented on #99
I would say we try to containerize the [nucleotid.es](https://github.com/nucleotides?page=1) assemblers (they are all listed on the omictools website) with our [new assembler specification](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
I suggest we create an issue for every assembler in nucleotid.es and reference this issue (#99), so we have an overview of th

[2015-04-15 06:16] pbelmann opened #110 "New binning container spec"
We need a new binning specification that works similar to the [new assembler spec 0.9.0](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd) with yaml input and output definitions.

Important Issues that are connected to this issue are:

* Database section. Binning tools are using databases, so we need a solution for specifying a database and mounting them to a cont

[2015-04-15 06:31] pbelmann commented on #85
I had a discussion with @fungs last monday about parsing/ accessing input/output in containers by providing directory structures.
@fungs wanted to create an example and show us what the advantages are of this method.

I reopen this issue, so @fungs can provide an example and we can discuss this in this issue.

[2015-04-15 07:21] michaelbarton commented on #99
I agree with @pbelmann. The nucleotid.es images already contain the code to build the assembler. They will need converting to the existing bioboxes CLI. This was once of the original goals of this project so that we could use the containers interchangeably. I think we've made a lot of good progress to get here.

Once thing that might be necessary is to provide more examples or a guide on the websi

[2015-04-15 07:24] michaelbarton commented on #85
I'm happy to discuss better alternatives to anything we've done so far.

[2015-04-15 18:48] michaelbarton commented on #99
@sjackman also has a Dockerfile with many assemblers installed. We could also use this too.

https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile

[2015-04-15 20:41] #74 closed

[2015-04-15 21:50] sjackman commented on #99
I would definitely support using Linuxbrew and Homebrew-science to compile/install bioinformatics tools.

[2015-04-16 02:38] #80 closed

[2015-04-16 20:46] michaelbarton commented on #104
We may be able to just use the new digest syntax also - https://github.com/docker/docker/pull/11109

[2015-04-16 20:46] michaelbarton commented on #104
Or specify a label inside the dockerfile - http://rancher.com/docker-labels/

[2015-04-18 12:29] pbelmann commented on #99
Ok then I will create the first issues now. I will suggest using linuxbrew or nucleotid.es assemblers for assembler bioboxes.

[2015-04-18 12:54] pbelmann opened #111 "Abyss Assembler Biobox"
The [abyss assembler](http://www.bcgsc.ca/platform/bioinfo/software/abyss) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https:/

[2015-04-18 12:58] pbelmann opened #112 "Megahit Assembler Biobox"
The [megahit assembler](https://github.com/voutcn/megahit) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https://github.com/nucl

[2015-04-18 13:02] pbelmann opened #113 "SGA Assembler Biobox"
The [sga assembler](https://github.com/jts/sga) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https://github.com/nucleotides/doc

[2015-04-18 13:05] pbelmann opened #114 "Minia Assembler Biobox"
The [Minia assembler](http://minia.genouest.org/) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https://github.com/nucleotides/d

[2015-04-18 13:10] pbelmann opened #115 "IDBA Assembler Biobox"
The [IDBA assembler](http://www.ncbi.nlm.nih.gov/pubmed/22495754) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https://github.c

[2015-04-18 13:14] pbelmann opened #116 "Sparse Assembler Biobox"
The [Sparse assembler](https://sites.google.com/site/sparseassembler/) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https://git

[2015-04-18 13:22] pbelmann opened #117 "A5 Assembler Biobox"
The [A5 assembler](https://code.google.com/p/ngopt/wiki/A5PipelineREADME) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https://

[2015-04-18 13:28] pbelmann opened #118 "Squeezambler Assembler Biobox"
The [squeezambler assembler](http://chitsazlab.org/software/squeezambler/) should be available as a biobox and implement the assembler interface [0.9](https://github.com/bioboxes/rfc/blob/master/container/short-read-assembler/rfc.mkd).
It is recommended to use an existing Dockerfile like [linuxbrew](https://github.com/sjackman/docker-bio/blob/master/assemblers/Dockerfile) or [nucleotid.es](https:/

[2015-04-18 14:53] pbelmann opened #119 "Biobox.yaml validator"
Instruction to fetch the validator does not work with:
[code]
This does not work because of the slash at the end of the url.

[2015-04-19 09:51] pbelmann commented on #114
Minia assembler is now available as biobox https://github.com/bioboxes/minia .

[2015-04-19 09:51] #114 closed

[2015-04-19 15:56] #119 closed

[2015-04-20 03:59] michaelbarton opened #120 "The biobox validator should be simple to use for developers"
At present the biobox validator is difficult to use and test. This is due to
the requirement of running a Docker daemon inside another Docker container.
Using Docker-in-Docker requires the `--privileged` flag which may be
unacceptable to many users because this allows escalated access by third-party
containers. Continuous integration testing of a biobox using the validator will
also be difficult b

[2015-04-20 04:07] michaelbarton commented on #120
I experimented with running [rkt in Docker][rind]. Rkt is an alternative
container implementation that can also run Docker containers. If rkt could run
inside a Docker container without needing `--privilege` this solve the
escalated security issue. This however did not work, as rkt is not able to run
Docker containers inside a Docker container without the `--privileged` flag.

[2015-04-20 04:39] michaelbarton commented on #120
I have also experimented with using [travelling ruby][tr]. This could allow the
validator to be bundled with its own ruby interpreter for either Linux or Mac
OSX platforms. This would mean the validator is provided as a tar file that
could be unarchived and then run with a bash wrapper script calling bundled
ruby. I was able to get a simple version working, however the cucumber library
does not wo

[2015-04-20 05:36] michaelbarton commented on #99
@bioboxes/members The issues @pbelmann have created would be a great place to start if you are interested in contributing to bioboxes. We have some documentation on the sebsite and if you could give feedback as you make your box, or even better PR to improve the documentation, that would be very helpful.

[2015-04-20 11:43] pbelmann commented on #120
What if we build a "Bioboxes CI Service" like a simple circle ci?

### Scenario

In my opinion it would be great if a developer could just register with his github account on a "Bioboxes CI Service" and register his github repository that contains a Dockerfile. On every push he makes "Bioboxes CI" would build the container and check with our tests if the container still follows the Bioboxes Interf

[2015-04-20 19:46] jfroula opened #121 "Need example using bioboxes"
I am trying to build an image for a metagenomic assembler for CAMI. CAMI has supplied a template image they would like for me to use ("docker pull cami/assembly").   I also  see from their website that I'm suppose to use bioboxes ("https://data.cami-challenge.org/").

I'm assuming that I should build an image that starts off with "FROM cami/assembly" and then run the example code  that is supplied

[2015-04-20 20:38] pbelmann commented on #121
Hi,
the base images provided by CAMI are based on the biobox assembler version ([0.8.0](https://github.com/bioboxes/rfc/blob/1aaeffc1f97dbea1ec05016a4a45e739dd47e20e/container/short-read-assembler.mkd)). The bioboxes [getting started](http://bioboxes.org/getting-started/), [how to create a biobox](http://bioboxes.org/how-to-create-a-biobox/) pages and the [validator](http://bioboxes.org/validator/

[2015-04-20 21:38] pbelmann commented on #104
The last point to discuss in this issue is whether we include the patch version number or not:

**Pro**
* As a developer I would always like to specify in the tag when I have for example fixed a bug.

**Con**
* As a user it might be annoying to specify a tag for every tiny patch the developer could provide.

Since one of the initial ideas behind Bioboxes is to build software that should be easy to

[2015-04-21 00:16] michaelbarton commented on #120
Could you take at look at PR - bioboxes/validator-short-read-assembler#24. I've
removed the Docker-in-Docker image and instead provide a tar.gz that contains
the feature and data files. The user runs the `validate` script, included in
the package, to validate an image. I've updated the documentation in the `doc`
folder with respect to this.

This doesn't preclude the use of DinD in addition to thi

[2015-04-21 00:21] michaelbarton commented on #120
Thanks for the suggestion Peter. I agree that this would be very useful for
users, they could register their image github repository and then get feedback
if they break. This would help us ensure the standard is maintained too.

My initial concern is the `--privileged` flag required to run Docker-in-Docker
for testing. I think it could be possible to upload a malicious image to a
testing service w

[2015-04-21 08:42] pbelmann commented on #120
I agree, we should not use the DinD until we find a better solution.

I tried to use the new validator https://github.com/bioboxes/validator-short-read-assembler/pull/24 :

Problems:
1. Documentation: When I extracted the tar.gz, the created directory is "build" and not "validate-short-read-assembler".
2. Every test failed with velvet because the message is always:
[code]
I think the reason for th

[2015-04-21 17:52] michaelbarton commented on #120
Thanks for testing this Peter. Both of these should be fixed in the 0.1.1 release. Repeating the example in the doc works for me now. We may need to add a tag or version number to image in the documentation as an out-of-date bioboxes/velvet image will cause the example to fail. The feature tests for the validator now test the generated .tar.gz, so hopefully this will catch these types of errors in

[2015-04-21 17:53] michaelbarton commented on #120
Yes, that would work. We might also want to keep a list of biobox assemblers and post it on the bioboxes site. I'd be happy to move the nucleotid.es assembler list to bioboxes - http://nucleotid.es/assemblers/

[2015-04-21 17:54] michaelbarton commented on #120
If the PR bioboxes/validator-short-read-assembler#24 looks good, this can be merged. This will automatically update the documentation on bioboxes.org.

[2015-04-21 18:01] pbelmann commented on #120
:+1: I merged it.

I will give it a try next week with the bioboxes service.

Yes a list of bioboxes would be great!

I think this issue can be closed now.

[2015-04-21 19:19] michaelbarton commented on #120
A few minor errors but the documentation is live now - http://bioboxes.org/validator/short-read-assembler/

[2015-04-21 19:32] #120 closed

[2015-04-22 01:06] michaelbarton commented on #121
@jfroula sits next to me at the JGI. He's making an assembler for CAMI
challenge and trying to create a biobox. I asked him to post any issues he has
on the issue tracker as this might help us identify any problems in the
documentation. I would like to work on the documentation so that it is as
simple as possible to create a biobox, this will allow many people to create
bioboxes of their software,

[2015-04-22 01:16] michaelbarton opened #122 "Biweekly review meeting - Thu Apr 23 15:30 UTC"
Local times:

  * Germany    - 5.30 PM
  * UK         - 4.30 PM
  * California - 8.30 AM

[2015-04-22 01:16] michaelbarton commented on #122
Are these the correct times for everyone?

[2015-04-22 01:17] michaelbarton commented on #105
Next meeting scheduled in #122

[2015-04-22 01:17] #105 closed

[2015-04-23 11:37] pbelmann commented on #69
@fungs
As a solution for this issue I would say that we remove the [database structure file](https://github.com/bioboxes/rfc/blob/master/databases_structure.txt) and just define types like: refseq, COG, NCBI Genomes, taxonomy and BLAST DBs. Each type will be available as a yaml type:

[code]

where

 * value is the path to the database
 * type can be refseq, blastdb, cog, ncbi_genomes and taxonomy

[2015-04-23 15:38] michaelbarton commented on #122
I'm using the same hangout as previously

https://plus.google.com/hangouts/_/gq3q6tue52f4eslddlmqafeuhua

[2015-04-23 21:28] michaelbarton opened #123 "The bioboxes website should have a consistent step-by-step guide for creating a biobox."
This guide should help developers create a biobox. The better and easier this guide is, the better adoption we may expect to have of bioboxes.

[2015-04-23 21:33] michaelbarton opened #124 "The website should provide documentation of what the signatures mean."
We have adopted the use of signatures for the biobox inputs and outputs but
there is no good documentation on what they mean or how they are described.

[2015-04-23 21:48] michaelbarton opened #125 "The biobox signature should be used to generate the json-schema document."
My preference for the signatures is because they are succinct way of describing
the inputs and outputs. The fit the value of a biobox as a function to
transform a set of inputs to a set of outputs. At present the signature is not
used to validate the input data. I believe we should generate the json-schema
document from the signature. This will free us from having to write a
json-schema for each n

[2015-04-23 21:59] michaelbarton opened #126 "Bioboxes should use or have an ontology for managing terms in the signatures"
We will need to limit and give semantic meaning to the terms in biobox
signatures. The semantic meaning should help the author of a biobox understand
how to use the input data. For example we already using the terms 'paired' and
'single' for the insert_size type.

[2015-04-23 22:00] michaelbarton commented on #126
We should consider integrating or creating new terms for the EDAM ontology as
this seems to be a popular choice in bioinformatics.

[2015-04-23 22:04] michaelbarton opened #127 "Biweekly review meeting - Thu May 7 15:00 UTC"
Germany    - 5.00 PM
UK         - 4.00 PM
California - 8.00 AM

[Google Hangout][GH]

[GH]: https://plus.google.com/hangouts/_/gq3q6tue52f4eslddlmqafeuhua

[2015-04-23 22:08] michaelbarton commented on #122
# Attending

  * Michael Barton (@michaelbarton)
  * Peter Belmann (@pbelmann)
  * Johannes Dröge (@fungs)

# Existing Issues

  * #69 We discussed how to manage mounting databases into a biobox. An example
    is a binning container that uses a reference database to bin read to know
    organisms. A long list of database may need to be provided so that the
    biobox author can select which to us

[2015-04-23 22:08] #122 closed

[2015-04-23 22:12] michaelbarton opened #128 "The bioboxes website should have an about page"
There currently isn't one. People arriving at the site for the first time will
want to learn what the project is for.

[2015-04-23 23:06] michaelbarton commented on #128
I created a PR bioboxes/bioboxes.org#31. Please let me know what you think.

[2015-04-24 08:15] pbelmann commented on #128
looks good @michaelbarton .

Should we add a part of the manifesto to the front page so people can directly see the aim of bioboxes.

[2015-04-24 08:42] pbelmann commented on #123
In PR bioboxes/bioboxes.org#32 I have added minor changes/fixes to the existing guide. I will add a PR with a better guide in the next days.

[2015-04-24 08:57] snewhouse opened #129 "How could the NGSeasy developers and the bioboxes developers collaborate?"
Hi All

We've been in contact via emails - we'd really like to get involved and help shape the Docker + Bioinformatic tool evolution.

We are interested in how we chain together Dockered tools for standard pipelines - so far we have been making quick and dirty solutions with simple bash scripts and having to build multi app images to help streamline pipes and data processing eg see https://github.

[2015-04-24 10:27] pbelmann commented on #69
As discussed in our biweekly meeting (see [summary](https://github.com/bioboxes/rfc/issues/122)) I have splitted the database structure file in 5 parts and added them in my fork of [bioboxes](https://github.com/pbelmann/rfc/blob/feature/new_binning_spec/container/binning/binning.mkd#databases-definition). Each part has its own tag (refseq, blastdb,...) and can be specified in the yaml. As discusse

[2015-04-24 10:27] #69 closed

[2015-04-27 16:56] pbelmann commented on #123
I PR bioboxes/bioboxes.org#34 I have added a developer guide by

* splitting up the steps in several pages
* connecting the pages with "previous" and "next" links
* extending the examples
* extending the rfc description
* exchanged the dind  with the ruby based validator

I hope that it is easier now to understand how to build a biobox.

What do you think?

[2015-04-27 21:34] michaelbarton commented on #123
Thanks @pbemlann. This is great work I made a few edits and merged the PR. I
think this will be really helpful for developers. Perhaps @jfroula could take a
while he is developing his biobox.

[2015-04-28 00:18] michaelbarton opened #130 "Developer and user guide should automatically generate previous and next guide pages."
@pbelman originally added this in bioboxes/bioboxes.org#34. I think we should
have these generated automatically then the guide pages can be easily
rearranged or new ones added.

[2015-04-28 00:24] michaelbarton commented on #129
Thanks for your interest @snewhouse. I would like us to work together bioboxes,
especially since you have experience with NGS and Docker already. This project
began as a collaboration between CAMI and nucleotid.es, and so the I think the
more that others can contribute the better.

My initial suggestion would be to try and create a biobox for one of the listed
issues e.g. #111. Building a biobox m

[2015-04-28 00:36] michaelbarton opened #131 "The biobox Dockerfiles could have less boilerplate"
I showed @accopeland what we've been doing with bioboxes recently. He gave a
few comments which were useful feedback. He mentioned that that bioboxes/velvet
Dockerfile contains a lot of code is not immediately obvious to a developer
what it is for. The lines in question are where jq, yaml2json and
bioboxes-validate-file are downloaded. This ends up being boilerplate code that
will have to be copie

[2015-04-28 06:17] snewhouse commented on #131
@michaelbarton  another simple solution is to have a Base image with all the required dependencies installed and pushed to docker hub.

The user then just builds their own assembler image from this image
eg:

[code]

[2015-04-28 07:03] fungs commented on #131
I think both are good ideas. For the long term, I would put the container code into a repository and try to build Linux packages for all kinds of distributions using a simple mechanism like the OpenSUSE Build Service. Since most users choose Debian or Ubuntu as container distributions, we could also provide a Debian base image with container code installed as we have done here: https://github.com/

[2015-04-28 15:28] avilella opened #132 "Example of using a bioboxes container and run it within CWL"
As discussed in the CWL conference call today, 28 April 2015, now it is probably a good time to exemplify the case of using an existing bioboxes container and run it within CWL.

For example, https://github.com/bioboxes/velvet has produced a docker image here:
https://registry.hub.docker.com/u/bioboxes/velvet/

I would ask @ntijanic if he could show as an example, how CWL could use this container.

[2015-04-29 11:05] ntijanic commented on #132
Hi, all.

First, to see if I understand what's happening with the image:
- The tool is adapted via bash script to take arguments in the form specified with JSON-Schema in the YAML file.
- Arguments are an array of two objects, each of which has an array of objects with `id` and `value`, nested under appropriate key (`fastq` or `fragment`).
- Tool produces output file in a temp directory which is t

[2015-04-29 12:25] avilella commented on #132
Thanks @ntijanic for your comments.

If you could write, as you mention, the template and converter script, that
would be great. I think working by example will clarify things for
everybody.

When you say that tools are expected to produce files in cwd, what would
make it easier for bioboxes to be consumed by CWL? I am sure we can find
ways to tweak the way bioboxes are defined that will make it m

[2015-04-29 14:58] ntijanic commented on #132
I wrote up a draft of what it could look like at https://gist.github.com/ntijanic/b0a75fe0a82639541278

The idea is that one would convert velvet by running:
[code]

It's not actually runnable since some features are missing from cwl (and I didn't test any of it). Will come back and make it work when I find the time (likely during weekend).

[2015-04-29 15:14] avilella commented on #132
Awesome, thanks @ntijanic . I think examples like this are very helpful.

Let's see what bioboxers @pbelmann and @michaelbarton say about it, and if
we find ways to improve the bbx <-> cwl interoperativity from this example.

Cheers

On Wed, Apr 29, 2015 at 3:58 PM, Nebojsa Tijanic <notifications@github.com>
wrote:

[2015-04-30 14:32] pbelmann commented on #123
In @asczyrba  seminar I received valuable feedback from the students:

Summary:

- [ ] All code examples should have a caption like "Dockerfile, Bash, ....."

- [ ] explain bash commands like (`set -o errexit` and `set -o nounset`)

- [ ] "Creating a docker image": Dockerfile example does not correspond to the velvet Dockerfile in the github repository.  (e.g missing a flag "--no-check-certificate

[2015-04-30 22:54] michaelbarton commented on #131
I merged in PR bioboxes/file-validator#25 today. This builds a debian package
of the file validator and pushes this to s3 after a successful build on the
master branch.

I've subsequently created a branch on the bioboxes/velvet assembler. This uses
the debian package manager to install the file validater. Please see [the diff
for this change.][diff] This removes the several lines need to install f

[2015-04-30 23:08] michaelbarton commented on #131
@snewhouse Thank you for the suggestion. This is a possible avenue we could use
to share tools, where the bioboxes base image is used in the `FROM` directive.

My preference is not to go down this route because it means we have to maintain
an image in addition to the individual tools. I also would prefer to allow
users to flexibly compose images using our, or other's tools rather than
inheriting a

[2015-04-30 23:10] michaelbarton commented on #131
@fungs I like the idea of using the OpenSuse build service. I'm not familiar
with it but I think using it in the longer term would be a good idea.

[2015-04-30 23:25] michaelbarton commented on #123
These are all useful points, I think we should include them because the
students on the course are the typical audience we might ask to create a
biobox. Improving the documentation should help adoption and use of bioboxes.

This point makes me think that we may have a problem maintaining documentation
while the project is in flux and we are changing code and tools. For example if
we change how a s

[2015-04-30 23:28] michaelbarton commented on #123
Also in this specific case I think installing `ca-certificates` along with
`wget` solves this.

[2015-04-30 23:36] michaelbarton commented on #132
@ntijanic thank you for taking the time to write a converter between bioboxes
and CWL. I've looked at the gist you provided, however since I'm unfamiliar
with using CWL I can't offer you any useful feedback here.

At the present we've been working on creating documentation so that developers
can start submitting biobox assemblers. I think it would be ideal if bioboxes
would fit into CWL so that an

[2015-05-01 20:10] afolarin commented on #129
@snewhouse @michaelbarton what's the impression on present stability of bbx as a standard?

If it makes sense, I'd be happy to building bbx containers for the trunk part of NGSeasy, I think we have much of the logic already worked out (albeit rough around the edges).

I make the assumption that velvet example is the template to go for or is this likely to change based on #132. @ntijanic any feelin

[2015-05-01 21:25] afolarin opened #133 "workflow management tools for biobox pipelines"
The typical bioinformatics usecase will be based around processing data through multiple containerized components (workflow/pipeline).

There seemingly are a never-ending supply of workflow management tools for orchestrating bioinformatics pipelines. Naturally, bioboxes should play nice with any system, but, given the nature of docker containers there are likely to be workflow management tools tha

[2015-05-01 22:13] avilella commented on #133
I will give my 2c but this is by no means a complete description of what's
been happening so far:

There has been some talk about the difference between tools and workflows
with respect of bioboxes, and I would say that so far there isn't a strong
view towards limiting the definition of a biobox or containerised tool in
one way or another. Or to put it another way, there will be people that
will l

[2015-05-01 22:28] afolarin commented on #133
Yes, totally agree that people should not be shoehorned into some particular way of doing things -- that would inevitably be the wrong path.

I've seen CWL and good to see you are in communication.

I would however comment on the strapline for the bioboxes website http://bioboxes.org/
`"a standard for creating interchangeable bioinformatics software containers"`
I do wonder how interchangeable mul

[2015-05-02 00:51] michaelbarton commented on #130
Thanks @pbelmann

[2015-05-02 00:51] #130 closed

[2015-05-02 19:58] avilella commented on #132
@ntijanic do you have any other recommendations of changes or additions to the way the bioboxes are described that would facilitate their use within CWL?

[2015-05-03 12:49] pbelmann commented on #123
while the project is in flux and we are changing code and tools. For example if
we change how a specification, this may break the documentation if we forget to
update it. One solution to this would be to make each example a complete set of
working code. This would allow the code blocks to be pulled out of the HTML of
each guide page and run. This could be done on the CI server which report any
bro

[2015-05-04 05:46] voutcn opened #134 "YAML of assembler -- max_read_len arguments"
Some assemblers (MEGAHIT, SOAPdenovo etc.) require this. It's also useful for pipelines with pre-assembly steps (for example merging PE reads if read_len * 2 < insert_size).

[2015-05-04 10:27] ntijanic commented on #129
It looks like we'll just need to add the ability to choose output directory from cwl and they should be compatible (making any bbx usable in cwl workflows with little effort).

[2015-05-04 10:36] pbelmann commented on #134
Hi @voutcn,

please correct me if I'm wrong, but I think you can compute the maximum read length out of the fastq data.

I'm asking this because we want to create intefaces that are as simple as possible and therefore contain as less as possible parameters.

[2015-05-04 10:44] ntijanic commented on #132
I still didn't get around to play with bbx much, but it all seems straightforward. It seems like it will be a very minor effort to include any bbx in a cwl workflow, if we supply a cwl template for each bbx-defined interface. Still, a few questions:

1) The assembler example has a single output file. Are there examples with multiple output files, possibly with different types (e.g. a QC tool that

[2015-05-04 10:56] voutcn commented on #134
Understand, thanks!

[2015-05-04 10:56] #134 closed

[2015-05-04 11:53] pbelmann commented on #132
That is good to hear.

For multiple outputs you can take a look at the ray assembler.

https://github.com/bioboxes/ray

It produces one scaffold and one contig file, that is described in the output biobox.yaml. But that are not different types.

At the moment we don't have a definition/standard for handling index files.

If you want to start a biobox you have to mount your output directory to /bbx

[2015-05-04 12:16] ntijanic commented on #132
Yes. It shouldn't be a problem, I think. Looking at the ray example, the report-through-output-yaml-file approach should be compatible with CWL.

One possible issue: the paths of produced files in run.sh are hardcoded to "/ray/Contigs.fasta" and "/ray/Scaffolds.fasta". Shouldn't produced files be placed in the mounted output directory as well (/bbx/output)?

[code]

It might make more sense for th

[2015-05-04 18:59] michaelbarton commented on #129
The standard is currently in a state of some flux. As use the containers
we identify problems or areas where the spec is undefined. My personal
preference is not to publish this as a finalised standard until we expect
few changes. The worst situation would be identifying a major issue in
the standard and having to ask authors and developers to change all their
containers.

Having said that we do s

[2015-05-05 07:45] snewhouse commented on #133
agree...but dont think this will be a "one-size-fits-all". The eco systems for workflow/pipelines will be very different from single-tool containers, and we should be thinking of both...looking forward to working this out with everyone.

[2015-05-05 07:53] snewhouse commented on #129
@michaelbarton @afolarin looking forward to the meet up on Monday 18th.
@michaelbarton do you want to come to us down at Denmark Hill or shall we sort a central London location out?

[2015-05-05 11:45] pbelmann commented on #132
Just out of curiosity: How does CWL report the output of a node in a workflow?

Yes thanks @ntijanic I updated ray.

I know what you mean. At the moment you can define first the fragment size and then the fastq files which is not the nicest solution.
Regarding the schema we had a very long discussion in #61. But I will mention this in the next bioboxes meeting.

[2015-05-05 12:22] ntijanic commented on #132
The most common case is to use a glob pattern per output port. Depending on declared port type, it produces a file or array of files.

Another way, very similar to bbx, is for the docker process to produce a file called result.cwl.json which holds the values for each output port.

There is also a rarely used option (introduced mostly for compatibility with other description systems or to make it e

[2015-05-05 14:58] pbelmann opened #135 "How should a biobox produce log data"
A biobox should output the log data of a containerized tool.

There are two options:

1. Use STDOUT/STDERR from the running container to place the data anywhere

2. Use an additional, optional directory in the output folder with a log file in it.

[2015-05-05 22:57] michaelbarton commented on #123
I've created a PR which provides additional documentation on installing software in an image. Merge if this looks good - bioboxes/bioboxes.org#39

[2015-05-06 13:31] pbelmann commented on #110
In PR #136 I added the new binning spec.
I have one simple [validator](https://github.com/pbelmann/validator-binning) for binning that must be moved to the bioboxes repository and two working examples:

* [kraken](https://github.com/pbelmann/kraken)

* [metaBAT](https://github.com/pbelmann/metaBAT)

Features:

* [databases](https://github.com/pbelmann/rfc/blob/feature/new_binning_spec/container/bi

[2015-05-07 11:08] staynerzone commented on #112
Done!

You can find the actual Megahit-Biobox at
https://github.com/staynerzone/megahit

Greetings

[2015-05-07 12:37] pbelmann commented on #112
thanks @staynerzone . I take a look at it.

[2015-05-07 15:06] michaelbarton commented on #127
I'm not able to create a hang out with my phone. Could someone else create one.

[2015-05-07 15:07] fungs commented on #127
Sorry, it seems I can't join the call, it says I'm not in the organization.

[2015-05-07 15:08] avilella commented on #127
trying now...

[2015-05-07 15:08] avilella commented on #127
https://plus.google.com/hangouts/_/gvbsoinmgxbqe7fbeoikkpwbkma

[2015-05-07 21:17] michaelbarton commented on #9
We have implemented signatures for the biobox RFCs. For example we have
specified that the every short read assembler should provide the signature:

    f : [fastq A], [Maybe insert_size A] → contigs B, scaffold C

This is indicates a biobox that takes a list of fastq files and a list of
optional insert sizes. They both have the algebraic type A, indicating that
that the entries correspond. E.g. f

[2015-05-07 21:38] michaelbarton commented on #110
This looks like a sensible way of managing the requirements for large databases.

[2015-05-07 22:29] michaelbarton opened #137 "Bioboxes should provide a validator for the binning container"
@pbelmann has created an RFC for the binning container. We aim to provide a
validator for each type of biobox as this makes it simpler for biobox
developers to ensure their biobox matches the specification. The binning biobox
is however a more difficult case as it requires large reference databases to
compare against.

[2015-05-07 22:34] michaelbarton commented on #137
@pbelmann do you think it might be possible to provide a small bioboxes dummy
database for testing? For example something a few megabytes in size? If I have
understood the RFC correctly, you could specify this as part of the `databases`
section in the biobox.yml?

[2015-05-07 23:10] michaelbarton commented on #126
The @edamontology provides [an ontology owl file][onto] with a listing of all
available terms. A sub-ontology is types of data which may be directly useful
for bioboxes. A quick search identifies terms like `FASTQ-illumina` which are
applicable. There however aren't terms for paired or unparied as far as I can
tell. We could consider working with them to add all terms we need.

[onto]: https://raw

[2015-05-07 23:13] michaelbarton commented on #135
I think after the meeting #135 we agreed that if an optional directory, such as
`/bbx/metadata` or somthing similar, is mounted then log data and so forth
should be placed here. Does that seem reasonable? If correct I think we would
update the base biobox RFC with respect to this.

[2015-05-07 23:15] michaelbarton commented on #135
We also agreed that output should go into `/bbx/output` instead of
`/bbx/output/bbx`.

[2015-05-07 23:18] michaelbarton commented on #135
I think we'd need to add the log directory to the validator directory too. A
feature test to ensure that if it is mounted, then log data is placed here.

[2015-05-07 23:19] michaelbarton opened #138 "The short read validator should test that logs are placed in the `/bbx/metadata` if present."
If the user mounts this directory then log files should be placed here.

[2015-05-07 23:20] michaelbarton commented on #135
It may be useful to specify all logs are processed to a consistent location,
e.g. `/bbx/metadata/log.txt`.

[2015-05-07 23:28] michaelbarton opened #139 "Allow configuration of directories in containers"
@fungs mentioned in meeting #157 that it would be useful to configure the names
of the directories where the bioboxes data is read-from and written-to. One
option would be to specify environment variables which overwrite the biobox
defaults.

[2015-05-07 23:35] michaelbarton commented on #127
## Existing issues

  * #110 @pbelmann has updated the bioboxes binning container specification to
    match the current input/output formats. The PR #136 merges this into the
    RFC master branch.

  * #9 @michaelbarton mentioned that the json-schema could be generated from
    the biobox signature. This would mean all that is needed to validate the
    biobox.yml is the signature, instead of th

[2015-05-07 23:40] michaelbarton opened #140 "Biweekly review meeting - Fri May 22 08:00 UTC"
Germany - 10.00am
UK      - 09.00am

@bioboxes/core-team Please note the updated time and date, I will be in the UK
on this day so we can do the meeting in the morning. We will use the [Google
Hangout][gh] created by @avilella since this is accessible by everyone.

[gh]: https://plus.google.com/hangouts/_/gvbsoinmgxbqe7fbeoikkpwbkma

[2015-05-07 23:41] #127 closed

[2015-05-07 23:42] michaelbarton commented on #35
This has been implemented or is being implemented for all biobox types.
Therefore this issue can be closed.

[2015-05-07 23:42] #35 closed

[2015-05-07 23:45] michaelbarton commented on #99
I will close this ticket as inactive.

[2015-05-07 23:45] #99 closed

[2015-05-07 23:49] michaelbarton commented on #100
@afolarin has kindly invited me to attend and discuss bioboxes at this
conference. Assuming that the JGI will allow me to travel, I will present what
we have done so far.

[2015-05-07 23:49] #100 closed

[2015-05-07 23:52] michaelbarton opened #141 "Validator base image repository should be deleted"
@pbelmann I believe we no longer need this repository, since using DinD is too
difficult?

[2015-05-07 23:59] michaelbarton commented on #106
I will close this issue as inactive. @yeban we would like to hear any feedback
you have if you have tried using the bioboxes spec already.

[2015-05-07 23:59] #106 closed

[2015-05-08 00:05] michaelbarton commented on #121
We have added additional resources includeing [a developer guide][dg] and [a
user guide][ug]. @jfroula please open another if you believe there are futher
areas that the website could be improved to help you with creating a biobox.

[dg]: http://bioboxes.org/guide/developer/
[ug]: http://bioboxes.org/guide/user/

[2015-05-08 00:05] #121 closed

[2015-05-08 00:12] michaelbarton opened #142 "The documentation of the bioboxes website should be automatically validated"
In issue #123 it was highlighted that the documentation can become stale.
Examples of this may be incorrect code or where the software provided by
bioboxes moves faster than changes to the documentation. I believe we need a
way to validate the documentation to ensure that it is always correct for
users, and generates an alert in the cases where it is not.

[2015-05-08 00:15] michaelbarton commented on #123
I have created a specific issue for the problem of incorrect documentation.
Otherwise I believe the recent updates to the [developer guide][dg] resolve
this issue.

[dg]: http://bioboxes.org/guide/developer/

[2015-05-08 00:16] #123 closed

[2015-05-08 00:18] michaelbarton commented on #125
I've started work on [a tool][tool] that could parse the biobox signature into
the json-schema. If possible, this would make developing a new biobox type
simpler as we would not need to write a new schema file each time.

[tool]: https://github.com/michaelbarton/bioboxes-signature-validator

[2015-05-08 00:20] michaelbarton commented on #128
What part of the manifesto should add? @afolarin you also mentioned that the
tag line of bioboxes could be clearer.

[2015-05-08 00:22] michaelbarton commented on #104
@pbelmann I agree. Let's go ahead and start labelling the biobox docker images
this way as we create them.

[2015-05-08 00:23] michaelbarton commented on #104
Unless there are futher additions I will close this issue as resolved.

[2015-05-08 00:23] #104 closed

[2015-05-08 08:34] pbelmann commented on #141
agree. I deleted the repo

[2015-05-08 08:34] #141 closed

[2015-05-08 09:41] pbelmann commented on #135
I removed the output bbx in rfc,validator and the available bioboxes

[2015-05-08 10:11] pbelmann commented on #104
ok. but I need write permissions to the dockerhub repository.

[2015-05-08 10:29] pbelmann commented on #137
I'm afraid that when I make the database smaller a binning bioboxes might not work as expected, so I will concentrate on building a bioboxes service.
If this does not work for whatever reason, I will reconsider providing a smaller database.

[2015-05-08 21:10] michaelbarton commented on #104
I have added you to the dockerhub repo

[2015-05-11 12:04] pbelmann opened #145 "Evaluation Format"
Bioboxes evaluation containers in version 0.8.x used to have one output definition that was just the output folder of the container.
In my opinion the evaluation containers 0.9.x must describe what is actually produced by the container with a format that can be used for any kind of evaluation.
In PR #144 I have added a format that @fungs,  @algbioi and I have initially created for binning and prof

[2015-05-11 21:09] pbelmann commented on #135
rfc, validator and the available bioboxes are now producing a log.txt if /bbx/metadata is mounted

[2015-05-11 21:09] #135 closed

[2015-05-11 21:11] pbelmann commented on #138
see merged PR bioboxes/validator-short-read-assembler#35

[2015-05-11 21:11] #138 closed

[2015-05-11 22:02] michaelbarton commented on #125
I have been experimenting with the haskell parsec library which seems to be
useful for parsing plain-text into data. I've built a parser that validates the
signature, and generates a YAML document. This is still a prototype but this
recent commit illustrates [an error if the signature is invalid][commit]. The
interface is:

    ./signature-validator --signature "Fastq A -> Fastq A" --schema input

[2015-05-11 22:04] michaelbarton commented on #135
Looks good. We're agreed on `/bbx/metadata/log.txt` for all bioboxes?

[2015-05-12 01:03] michaelbarton commented on #145
I think it's a good idea to have a generic evaluation container. The output
directory was too ambiguous and may not be too useful. I think this can
replace the genome assembly evaluation container.

My initial thought after read the RFC, is might the evaluator API be
simplified to two files a plain text file describing all the available
files, and a key-value CSV of metrics? I think it is addition

[2015-05-12 09:33] pbelmann opened #147 "Restructure RFC"
Reasons for this issue:

* Since version 0.9.x Bioboxes is using it's own types in the yaml format. With further intefaces following the format 0.9.x, the definitions will be repeated in every document.

* With issue #107 we want to use EDAM ontology

The first two steps for an easy extendable RFC are:

  1. As mentioned by @fungs : Enumerate the types we are using (fasta, fastq,...) in one centra

[2015-05-12 09:35] pbelmann commented on #135
I think it is a good idea to use this for all bioboxes, so I created a more general restructure issue #147 .

[2015-05-12 11:19] pbelmann commented on #145
You are right that in the case of representing just a list of csv files it would be easier to not use yaml. But if your evaluation creates png's or a mix of different file types then in my opinion a yaml is the right choice.

But I think we have two options:

  * A format that is flexible but complex (yaml structure). It can be used by any kind of evaluation but it is maybe not that easy to implem

[2015-05-12 16:29] pbelmann commented on #142
In PR bioboxes/bioboxes.org#40 I added the functionality to load and show code from a github repository by specifying the url. As long as the repository is correct (I will soon add a Bioboxes CI for every repository), the displayed code is correct, too.

If we agree on this, we could extend this functionality by specifying a range of lines that is displayed from a remote source, like the already a

[2015-05-12 20:09] avilella commented on #132
The ability to specify the output directory was mentioned in today's CWL conf call. Minutes here:

https://docs.google.com/document/d/1S8bMjX_KcjRs70K-60OVnxxRt8O9aCBPc74J_gtF-64/

[2015-05-13 00:28] michaelbarton commented on #132
We've discussed the output directory recently. Now the output directory will be `/bbx/output` inside the container, which the user can mount anywhere. Similarly a new folder `/bb/metadata` can be optionally mounted and if so log files and additional run data will be placed here.

[2015-05-13 00:31] michaelbarton commented on #142
Thanks Peter. If I have understood correctly, when a url is the only contents of a code block, then this url will be fetched the contents will be used inside the code block?

[2015-05-13 00:41] michaelbarton commented on #145
It could be simpler to not list all the files that are generated. For example if there was a file 'analysis_output.png' this would be specific to only this image, and you wouldn't expect it to be generated by different evaluation images.

My alternative suggestion is to specify only two files. A two-column key-value CSV of metrics generated (n50, #contigs, etc), and the second file that contains a

[2015-05-13 08:02] pbelmann commented on #142
exactly Michael. The disadvantage of this approach is that when you have about 40+ code blocks that must be fetched from github it will slow down the webpage. But I don't think that this will ever happen.

[2015-05-13 08:54] pbelmann commented on #145
Micheal could you make an example.
Do I understand that correctly?

1.
[code]

This will not work when you want to include metrics that consists of more then one number.
I'm not sure how the second file should look like.

2.
[code]

You are right it would be specific to this image. But I can not see the problem here since every evaluation image will have different outputs anyway. One advantage of

[2015-05-13 11:45] pbelmann commented on #131
Thanks Michael for creating .deb packages. Is there any advantage in using OpenSUSE build service in contrast to a self maintained debian package source. Maybe a faster download which is not important for our tiny validator package.

If there are no other advantages I will start updating our tutorial and the available bioboxes, so that we can close this issue.

[2015-05-13 12:50] pbelmann commented on #112
thanks @staynerzone  I created a fork of your megahit repo:
https://github.com/bioboxes/megahit

[2015-05-13 12:50] #112 closed

[2015-05-13 18:11] mlyod commented on #113
Everything done  ->   (https://github.com/mlyod/sga_biobox)

[2015-05-13 18:14] maximseitz commented on #116
Everything done, take a look please.
https://github.com/maximseitz/sparse_biobox

[2015-05-14 01:47] michaelbarton commented on #142
I think this is a good idea. It will keep the code up to date with the live
repositories which are being used, and as you wrote, tested.

I've created a pull request with some suggestions. I use a helper function in
`helpers/code_blocks.rb` instead of an extension. This helper can be used in
the markdown and will fetch the github code when used. It will replace itself
with a markdown code block fr

[2015-05-14 02:36] michaelbarton commented on #131
I think the advantage of OpenSuse build service is that a package is automatically built for all flavors of Linux, e.g. Red hat and so forth. This would useful if someone wants to give this a try. Otherwise I agree we can continue the S3 Debian repo for now.

[2015-05-14 02:37] michaelbarton commented on #131
There's also the problem of installing unsigned packages which I haven't had time to look at yet.

[2015-05-14 06:53] michaelbarton commented on #145
Is the aim of the evaluation output yaml to parse a list of files and display them on a webpage? Would you take the list of files or metrics in the yaml and display all of them on a webpage or would it be the case that the developer would select which are important?

[2015-05-14 08:44] pbelmann commented on #145
I think displaying it on a webpage is one use case, yes. The yaml should allow you to postprocess the output. (You could for example filter all tsv files, if you don't want to show pngs)

It depends on what the task of the image would produce. If the default task in quast case returns just the path to the reports file and maybe the path to an image or svg file then I would display all of them.

[2015-05-14 09:27] pbelmann commented on #142
examples. If we use other branches, then this could mean the pages would needed
to be updated when these branches are merged/deleted.

I agree.

At the moment I'm referencing the developer_guide branch in velvet. It has many long comments for developers that are not familiar with shell programming. I will create a PR in velvet so that we can delete the other branches.

[2015-05-15 00:02] michaelbarton commented on #145
Using quast as an example, I take all the metrics I need from the 'report.tsv'
file. When I used quast for the first time I'd need to know that these metrics
are in the this file called 'report.tsv'. Each time I use quast afterwards I
can go straight to this file and get the metrics. If I started using a
different tool other than quast I'd need to know what the name of the file is
that contains th

[2015-05-15 10:44] pbelmann commented on #142
@michaelbarton I merged your PR bioboxes/bioboxes.org#41

I added another one (PR bioboxes/bioboxes.org#42) with the extension to load partial code blocks.

[2015-05-15 12:16] pbelmann commented on #116
@maximseitz Thanks a bunch

[2015-05-15 12:16] #116 closed

[2015-05-15 14:08] pbelmann commented on #145
unless each yaml file in each different evaluator image specified 'Basic
metrics' entry, then I could look for the file using this key.

I see. An ontology would solve this issue. But I think it is impossible to create an ontology for the variety of evaluation metrics.

Ok then what if we use a simpler yaml structure that allows us to display the metrics and for each metric not only a single value

[2015-05-15 17:30] pbelmann commented on #113
@mlyod  I created a PR.

[2015-05-17 16:25] michaelbarton commented on #145
I  agree. We could consider this in future if there were multiple evaluators of the same type.

I agree. I like this format.

[2015-05-19 09:04] pbelmann commented on #142
Bioboxes.org shows code blocks directly from github repositories.

[2015-05-19 09:04] #142 closed

[2015-05-19 12:01] pbelmann commented on #113
thanks @mlyod

[2015-05-19 12:01] #113 closed

[2015-05-19 12:32] pbelmann commented on #145
yesterday @algbioi and I containerized binning evaluation scripts that are following the new upcoming binning evaluation interface. When we started to describe the output by using a yaml:

[code]

We started to copy the produced files inside the yaml and what we noticed is that it became difficult to read and to understand. That's why we started again to produce an output yaml like:

[code]

As @m

[2015-05-19 12:41] algbioi commented on #145
I think, we should explain more precisely what the aim of the yaml file is and then whether the proposed solutions satisfy that.

The aim is to provide meta-information about the output files produced by an evaluation container to:
- enable automated post-processing of the data (e.g. displaying it on a web side)
- distinguish between important files containing evaluation results (metrices) and tem

[2015-05-19 13:24] pbelmann commented on #145
Thanks @algbioi .
I simplified the interface according to the discussion on this thread. I will merge the current definition since it satisfies the requirements mentioned in this thread. @michaelbarton I tagged the interface with the version number 0.1.0. If we encounter further problems we can open a new issue, update the format and change the version number.

[2015-05-19 13:50] MarkUgarov commented on #115
One Solution: https://github.com/MarkUgarov/idbadebian

[2015-05-19 14:43] #145 closed

[2015-05-19 15:41] fungs commented on #140
I will be on vacation this week.

[2015-05-21 15:28] pbelmann commented on #115
thx @MarkUgarov

[2015-05-21 15:28] #115 closed

[2015-05-25 13:27] pbelmann commented on #140
Summary:

* A biobox should lists its tasks.

* All available bioboxes should be listed on bioboxes.org.

* Continue to work on profiling and binning interfaces.

* Bioboxes will be presented in the CAMI Evaluation meeting in Berlin.

[2015-05-25 13:27] #140 closed

[2015-06-01 15:47] pbelmann opened #148 "Bioboxes should list all available Bioboxes"
As discussed in https://github.com/bioboxes/rfc/issues/140 all available Bioboxes should be listed in a file.
That will help us in

* a GUI to list and run Bioboxes

* providing a catalog of all Bioboxes on bioboxes.org

As a first version I created a repo with an image listing.

https://github.com/bioboxes/data

For this I adapted @michaelbarton s yaml

https://github.com/nucleotides/nucleotides-

[2015-06-01 20:04] pbelmann commented on #137
I think if a binning tool developer is using any database(ncbi, taxonomy, refseq, ...) he has to download the database anyway and mount it to his tool. So I created a validator for bioboxes [binning tools](https://github.com/bioboxes/validator-binning). If the developer is using one of the databases he can mount it to the validator by using one of the following parameters:

*  -R, --REFSEQ /path/t

[2015-06-01 20:04] #137 closed

[2015-06-01 20:05] pbelmann commented on #84
see issue #137

[2015-06-01 20:05] #84 closed

[2015-06-05 14:14] pbelmann opened #149 "Available Bioboxes List"
Bioboxes should list all available bioboxes on bioboxes.org by parsing the images yaml in https://github.com/bioboxes/data .

[2015-06-07 11:54] pbelmann opened #150 "bioboxes.org bootstrap"
We are using the bootstrap css framework on bioboxes.org.
At the moment we are downloading the library package with an external script and referencing the package in our website.
Furthermore the .js  file is included by using a cdn.
I think we can skip the step of downloading the package and avoid the usage of a cdn by using a ruby/gem/middleman mechanism.
There is a bootstrap-sass gem and sprocke

[2015-06-07 12:15] pbelmann opened #151 "New Assembler Evaluation Interface"
Bioboxes should provide a new interface for assembler evaluation tools like the already existing assembler and binning biobox.

This issue should be closed when there is

* A new assembler evaluation rfc.

* A validator for testing the implementation the assembler evaluation bioboxes.

* At least one example implementing the interface.

[2015-06-07 12:39] pbelmann opened #152 "Bioboxes should provide a simplified user interface for using containers"
We could make the usage of bioboxes easier by providing a wrapper script for every interface.

The basic workflow would be:

1. The user provides parameters to the script.
2. The script creates a yaml and mount the files and folders to the correct location .
3. Run the docker command.

The benefit of such a script is that he would not have to create a yaml and would not have to care about mounting

[2015-06-08 16:13] pbelmann commented on #151
In PR #153 I added a new interface and a schema definition.

It includes the following main changes:

* optional cache property for reusing intermediate results

* multiple input assemblies can be accepted

* muliple references can be accepted. I introduce a new type called fasta_dir. This poperty is important if you do not just have one reference genome but multiple ones like in metagenomics

* I

[2015-06-08 16:17] #149 closed

[2015-06-08 19:15] #110 closed

[2015-06-09 07:52] pbelmann commented on #151
validator for assembly benchmark:
https://github.com/bioboxes/validator-assembly-benchmark

[2015-06-10 14:16] pbelmann opened #154 "New Binning Evaluation Interface"
Bioboxes should provide a new interface for binning evaluation tools like the already existing assembler, assembly benchmark and binning biobox.

This issue should be closed when there is

   * A new binning evaluation rfc.

   * A validator for testing the implementation the binning evaluation bioboxes.

   * At least one example implementing the interface.

[2015-06-15 18:59] #151 closed

[2015-06-16 12:33] michaelbarton commented on #152
I think this is a good idea. In many cases a user will have a single standard file type which they wish to pass to a tool. For the assembler this could be as simple as:

    bbx-assemble --in FASTQ --out FASTA

[2015-06-16 13:13] michaelbarton commented on #150
If I remember, the bootstrap is downloaded because the source is required to
use the mixins in other parts of the less stylesheets. We could use sass plugin
though I believe we would have to convert the existing stylesheets to sass.

The .js cdn could be swapped by including the bootstrap css in the javascripts
directory and including it in `all.js`.

[2015-06-16 13:19] michaelbarton commented on #142
Using the line numbers to select specific parts of the file is a good idea.

[2015-06-16 13:53] michaelbarton commented on #137
Great Peter. I looked at the validate script in the code - you're cycling through each of these options when you're testing each binning container or each one has a specific arguments?

[2015-06-17 07:47] pbelmann commented on #137
This part in the validate script:

https://github.com/bioboxes/validator-binning/blob/master/src/validate#L17-L54

1. Checks which argument is provided to the validate script.
2. Depending on the argument provided to the script it builds a yaml and a docker command used in the cucumber test.

The reason for this is that if you are using one of the databases listed in the [rfc](https://github.com/b

[2015-06-17 15:47] michaelbarton commented on #125
I've built a working prototype in the repo "bioboxes/signature-validator".
Combining this with the "validate-biobox-file" tool allows the biobox.yml to be
validated with only the biobox signature needed. [I've created a cucumber
feature outlining this.][feature]

[feature]: https://github.com/bioboxes/signature-validator/blob/master/features/validate-biobox-file.feature

[2015-06-19 13:20] michaelbarton opened #156 "Milestone - increase downloads of bioboxes"
At a review meeting we discussed milestones with the goal of focusing
development of bioboxes. The project has grown increasingly large, and common
focus will help discussion and selection of development goals. The first
milestone will be to increase usage and uptake of bioboxes by the
bioinformatics community.

We will track downloads of biobox-compatible Docker containers as a proxy for
their us

[2015-06-19 13:33] michaelbarton opened #157 "Track downloads of biobox Docker containers"
The website should track downloads of biobox docker containers. This will allow
measurement of biobox usage. The data can be obtained from the [DockerHub
registry][reg]. Each image has the number of downloads listed. I think we
should track these and chart their usage over time. There could be a page such
as bioboxes.org/metrics or something similar.

[reg]: https://registry.hub.docker.com/repos/b

[2015-06-19 13:54] michaelbarton opened #158 "Biweekly review meeting - Thu 18 Jun 2015 15:00 UTC"
# Attending

  * Michael Barton (@michaelbarton)
  * Peter Belmann (@pbelmann)
  * Johannes Dröge (@fungs)

# New Issues

  * #156 - Start a three-month milestone to increase usage of bioboxes in the
    community. We will do this by tracking biobox-compatible container
    downloads from github.
  * #157 - Begin tracking of biobox usage from the dockerhub registry. This
    will help with the abo

[2015-06-19 14:05] michaelbarton opened #159 "Biweekly review meeting - Thu 02 Jul 2015 15:00 UTC"
* UK time 4pm
* Germany 5pm
* California 8am

We'll start the meeting by reviewing progress on the current milestone of
increasing biobox downloads. We'll use the same [google hangout][gh].

[gh]: https://plus.google.com/hangouts/_/gvbsoinmgxbqe7fbeoikkpwbkma

[2015-06-19 14:06] michaelbarton commented on #158
Next meeting #159

[2015-06-19 14:06] #158 closed

[2015-06-19 14:19] michaelbarton commented on #152
I've updated the title

[2015-06-19 14:28] michaelbarton opened #160 "Create mail@bioboxes.org email address"
This will be useful signing up for things. Ideally we should use a CRM, however
I do not know a good free one we can use.

[2015-06-19 14:29] michaelbarton opened #161 "The binning validator should be available for download"
The binning validator needs to be available for download from S3.

[2015-06-19 14:29] michaelbarton opened #162 "The assembly evaluator validator should be available for download."
The assembly evaluator validator needs to be available for download from S3.

[2015-06-19 15:17] michaelbarton commented on #161
@pbelmann there was an error running the tests on circleci -
https://circleci.com/gh/bioboxes/validator-binning/1

Does this look an image error or a circleci error?

[2015-06-19 15:19] michaelbarton commented on #161
I think perhaps it is that unshuffle_fastq.pl, run.sh, and unshuffle_fastq.pl
need the executable permission?

[2015-06-19 15:23] michaelbarton commented on #161
Currently the file-deployer image is not building on dockerhub, I may need to
create a support ticket to resolve this.

https://registry.hub.docker.com/u/nucleotides/file-deployer/builds_history/230760/

[2015-06-19 15:23] pbelmann commented on #161
I will test it. But it seems to be an lxc error.

[2015-06-22 15:18] pbelmann commented on #161
Ok it works now. It was a permissions issue.
https://circleci.com/gh/bioboxes/validator-binning/5

[2015-06-25 14:45] fungs opened #163 "Decouple biobox implementations and input validation"
Hi @michaelbarton and @pbelmann,

I have started to build a base Debian image to speed up and reduce the code needed for biobox implementations. Thereby, I'm now strongly favoring to separate the input validation from the actual passing and processing. There are multiple reasons why this would be beneficial:

1. Validation code needs to be replicated in every biobox, updates of the code need to be

[2015-06-25 14:52] fungs commented on #163
This is directly related to #131.

It also means that providing an independent reliable distribution channel for the validator binaries or deb package is less important since we can directly use the DockerHub.

[2015-06-30 13:45] fungs opened #164 "Encourage security-awareness when using Docker"
Pulling a Docker container means installing foreign code on your local machine. This means that malicious or defective programs can
* compromise your network if network access is given to the container
* compromise your data if file access is granted to the host system
* compromise your system by deploying security issues in the Docker/LXC design

This means that in the future we should follow bes

[2015-06-30 13:55] fungs commented on #131
In the meantime, until there is a separate guest tool package for bioboxes running inside the container (just like the virtualbox guest additions) and being packaged for all kinds of possible container Linux distributions, I have implemented a Debian base image with some client scripts added. For now, you can get and test it from the Docker registry: fungs/bbx-base:latest. It translates the YAML i

[2015-07-01 14:02] michaelbarton commented on #131
I agree with Albert this sounds like it could help third-parties package
their software for bioboxes. I would like to know more details of how this
works.

You mentioned setting environment variables, we did discuss using these in
great detail at the start of bioboxes and we agreed that their use could
become too complicated. An example when there were multiple files and
parameters for each file.

[2015-07-01 14:04] michaelbarton commented on #164
Could you provide some examples of how we might encourage better security
for users of bioboxes?

[2015-07-01 14:19] michaelbarton commented on #163
I believe using apt can solve this, as when the image is rebuilt the latest
version will be installed.

I agree. I think the Dockerfiles have boilerplate code that confuses what
each step being taken in. Either apt or base images are ways to solve this.

Could you expand this point further?

I think you are suggesting a wrapper script that runs the validation
scripts before running a developer def

[2015-07-01 15:14] fungs commented on #131
Hi,

here are some more details, I just did't want to push it to the public in its undocumented and experimental stage.

https://github.com/fungs/bbx-base/

This is just a one-way translation which is likely sufficient for most or all of the current implementations. After all, it is just an alternative way to access the information in the YAML file, I would really like to add a file system YAML re

[2015-07-01 15:19] fungs commented on #164
Following the cited guidelines, one could for instance

1. give recommendations how to run and not to run containers,
2. restrict network access by default,
3. use a distinct UNIX user and group in the container and map that to the current user ID

Maybe these are not urgent at the moment, since the techniques are still emerging and we have still few users, but they should be considered alongside

[2015-07-01 15:33] fungs commented on #163
That's one approach but this way we still need to maintain an apt repository (overhead + network requirement). Since each biobox will have an independent version of the validation program, the versions will desynchronize relative to the built time of the containers. Therefore, we will not be directly able to push updates to the users of the biobox without altering or rebuilding individual containe

[2015-07-02 14:27] michaelbarton commented on #157
The page http://bioboxes.org/metrics shows the number of biobox images that
have been downloaded from dockerhub. This is updated weekly by a cron job.

[2015-07-02 14:27] #157 closed

[2015-07-02 15:03] michaelbarton commented on #159
Previous hangout is not working, I've started a new one - https://plus.google.com/hangouts/_/g2kj4byebzycl4375skhyshptea

[2015-07-08 15:27] michaelbarton opened #165 "Jeff Froula written guide on creating a biobox should be intergrated into existing documentation"
@jfroula created a biobox for metabat and has subsequently written up a guide
on how he did. I think this is very valuable this provides an outsider's
perspective on what the current shortcomings are. I have converted his write up
[to markdown and created a gist][gist].

[gist]: https://gist.github.com/michaelbarton/996c0affbd32aae4b144

[2015-07-09 14:42] fungs commented on #165
Thanks, it shows that there is some willingness to adapt and support bioboxes.

I've gone through the example and believe we can already strip the tutorial by over one half by
* using a proper base image instead of using the minion assembler as a template (no need to be aware of the init system, integrated interactive shell without modifying the entrypoint)
* not bothering the user with the handli

[2015-07-14 12:02] bgruening opened #166 "Bio Docker symposium!"
Hi,

is anyone of you attending this Symposium? Would be great to have someone of you there!

http://core.brc.iop.kcl.ac.uk/events/compbio-docker-symposium-2015/

Cheers,
Bjoern

[2015-07-14 13:06] pbelmann commented on #166
Yes we are already registered for compbio.

[2015-07-14 13:08] bgruening commented on #166
Great!

[2015-07-14 13:08] #166 closed

[2015-07-14 14:50] pbelmann opened #167 "Biweekly review meeting - Thu 16 Jul 2015 15:00 UTC"
* UK time 4pm
* Germany 5pm
* California 8am

The hangouts link will be posted in this thread.
@bgruening will join this call, if he has time. We talked about Docker and standards at BOSC.
Björn if you don't have time, maybe you can summarize your proposal, so that we can discuss it in the meeting.

[2015-07-14 15:55] bgruening commented on #167
I have a workshop at this time, but maybe I can delegate this for an hour :)

My proposal was to have a layered spec for building docker containers. Every spec is one Docker fs-layer.
The community is in need to have standardised Docker containers and bioboxes does a great job here. My feeling is that we need some specs that define how to build and create Docker containers and ontop of this we can

[2015-07-14 16:14] michaelbarton commented on #167
Thanks for setting up the meeting @pbelmann.

@bgruening, I will look forward to hearing your ideas.

[2015-07-14 16:22] #159 closed

[2015-07-14 16:29] michaelbarton commented on #152
I have implemented a prototype build for the biobox command line interface.
This is written in python as we discussed. The bioboxes/command-line-interface
github repo contains the source code. The basic interface is:

[code]

The biobox type determines what the remaining command line arguments should be.
For example the short read assembler biobox uses the -i and -o arguments.

[code]

[2015-07-14 16:29] michaelbarton commented on #152
I have implemented a prototype build for the biobox command line interface.
This is written in python as we discussed. The bioboxes/command-line-interface
github repo contains the source code. The basic interface is:

[code]

The biobox type determines what the remaining command line arguments should be.
For example the short read assembler biobox uses the -i and -o arguments.

[code]

[2015-07-14 16:30] michaelbarton commented on #152
I have implemented a prototype build for the biobox command line interface.
This is written in python as we discussed. The bioboxes/command-line-interface
github repo contains the source code. The basic interface is:

[code]

The biobox type determines what the remaining command line arguments should be.
For example the short read assembler biobox uses the -i and -o arguments.

[code]

[2015-07-14 16:34] michaelbarton commented on #152
@pbelmann I believe we could consolidate the existing validation tools into
this command line interface. We provide something along the lines of:

[code]

This would run all the feature tests we have for a given biobox type. This
would simplify validating new container types as we would not need to create a
new tool for each type. I believe it would make creating biobox images easier
for developer

[2015-07-14 16:34] #150 closed

[2015-07-14 16:35] michaelbarton commented on #150
I will close this issue as inactive

[2015-07-14 16:36] michaelbarton commented on #152
In addition we reviewers could use this tool when reviewing biobox images to
make sure they are implemented as expected.

[2015-07-14 16:37] #128 closed

[2015-07-14 16:37] michaelbarton commented on #128
Closed as inactive

[2015-07-14 16:37] #148 closed

[2015-07-14 16:38] michaelbarton commented on #148
Implemented

[2015-07-14 16:39] michaelbarton commented on #87
I have written an initial draft of this article.

https://github.com/bioboxes/commentary-article/tree/initial-draft

[2015-07-16 12:35] michaelbarton commented on #87
@bioboxes/core-team @ScottBGI I have written an initial draft within the 1200 word limit. What do you think?

https://github.com/bioboxes/commentary-article

[2015-07-16 13:03] abremges commented on #87
Great starting point (and more), @michaelbarton

1. As bioboxes gained some momentum by now, I believe we should include *bioboxes* in in the title.
1. You motivate bioboxes in much detail, but ignore its history (joining forces between your nucleotid.es and our CAMI initiatives). I think this should be included, as without either of these bioboxes would not exist.
1. I'd emphasize the work done w

[2015-07-16 14:17] michaelbarton commented on #52
@pbelmann Presented a poster and a talk at BOSC 2015 I heard his talk was received very well. Great work Peter.

[2015-07-16 14:17] #52 closed

[2015-07-16 14:18] michaelbarton commented on #45
I will close this issue in favor of #87 as this already has more discussion.

[2015-07-16 14:18] #45 closed